<!DOCTYPE html>
<html lang="en"
      layout:decorator="layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DossierFacile</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container">
        <div class="row">
            <h3>Mes Statistiques</h3>
            <div class="table-responsive col-md-12">
                <table class="border--round table--alternate-row">
                    <thead>
                    <td>
                        Week
                    </td>
                    <td>
                        Subscriptions
                    </td>
                    </thead>
                    <tbody th:each="count : ${list}">
                    <tr>
                        <td>
                            <a th:text="${count.date()}"></a>
                        </td>
                        <td>
                            <a th:text="${count.getCount()}"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
