<!DOCTYPE html>
<html lang="en"
      layout:decorator="layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DossierFacile</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div class="main-container">

        <section class="text-center pt-5">
            <div class="text-left col-lg-8 col-md-10">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-9">
                            <h3> Procédure de changement de mot de passe </h3>
                        </div>
                    </div>
                </div>

                <div class="container col-lg-7 col-md-9">
                    <form class="row pt-5 w-70" th:action="@{/change-password}" th:method="post">
                        <input autocomplete="true" id="token" required="required" th:name="token" th:value="*{token}"
                               type="hidden"/>

                        <div class="col-md-12 text-left">
                            <span> Entrez votre nouveau mot de passe : </span>
                            <input autocomplete="true" class="small validate-required" id="password"
                                   placeholder="Ex : 123450" required="required"
                                   th:name="password" type="password"/>
                        </div>

                        <div class="col-md-12 text-left">
                            <span class="font"> Confirmer votre nouveau mot de passe : </span>
                            <input autocomplete="true" class="small validate-required" placeholder="Ex : 123450"
                                   required="required"
                                   th:name="passwordConfirmation" type="password"/>
                        </div>

                        <div class="col-md-12 mt-2 justify-content-center align-content-center">
                            <button class="btn btn--primary w-auto px-5" type="submit">
                                Valider
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>

</div>
</body>
</html>
