<!DOCTYPE html>
<html lang="en"
      layout:decorator="layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DossierFacile</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div class="main-container">
        <section class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8">
                        <h1>C'est dans la boîte !</h1>
                        <p class="lead"> Un message a été envoyé à l'adresse e-mail renseignée. Cliquez sur le lien afin
                            de définir un nouveau mot de passe. </p>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
</body>
</html>
