<!DOCTYPE html>
<html lang="en"
      layout:decorator="layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>locatio/proprietaire</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">
    <div class="main-container">
        <section class="imageblock switchable height-100">
            <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                <div class="background-image-holder">
                    <img alt="beautiful building" src="/assets/images/beautiful-building-square.png"/>
                </div>
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-lg-5 col-md-7">
                        <h1>Le dossier de location intelligent </h1>
                        <p class="lead">DossierFacile vérifie gratuitement le dossier de vos candidats locataires pour vous aider à faire le bon choix</p>
                        <div class="pull-left">
                            <div>
                                <a class="btn btn--primary type--uppercase" href="/registerOwner/step1">
                                    <span class="btn__text"> Creer mon compte </span>
                                </a>
                            </div>
                            <div class="mt-2 text-center">
                                <a th:href="@{/login}">
                                <span class="font-weight-light text-bleu-fonce">
                                    Je me connecte
                                </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8">
                        <h2>DossierFacile vous aide au quotidien </h2>
                        <p class="lead">Des dossiers clairs complets et cohérents pour vous faciliter la vie !</p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="feature feature-6 text-center"><i
                                class="icon color--primary icon-Handshake icon--sm"></i>
                            <h5>En Confiance</h5>
                            <p> DossierFacile effectue une batterie de tests afin de repérer d'eventuelles anomalies
                                dans le
                                dossier de vos locataires.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="feature feature-6 text-center"><i
                                class="icon color--primary icon-Sunglasses icon--sm"></i>
                            <h5>Y voir plus clair</h5>
                            <p> Pour vous y retrouver au milieu de tous vos dossiers, Consultez les principales
                                caractéristiques de vos futurs locataires en un seul endroit sur votre compte
                                DossierFacile.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="feature feature-6 text-center"><i
                                class="icon color--primary icon-Folder icon--sm"></i>
                            <h5>Dossier étudié</h5>
                            <p> DossierFacile est compatible avec les services des professionnels de l'immobilier. Nous
                                permettons aux agents immobiliers et aux propriétaires de recevoir uniquement des
                                dossiers complets et cohérents.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-blue-dark cover height-50 imagebg text-center" id="form">
            <div class="container pos-vertical-center">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-7">
                        <h2 class="text-white">Créez gratuitement votre compte DossierFacile</h2>
                        <p class="lead text-white"> DossierFacile accompagne les candidats locataires dans la
                            constitution de
                            leur
                            dossier de location pour les aider à mettre toutes les chances de leur coté</p>
                    </div>
                    <div class="col-md-12">
                        <a class="btn btn--primary type--uppercase bg-orange border-0" href="/registerOwner/step1">
                            <span class="btn__text"> Creer mon compte </span>
                        </a>
                    </div>

                </div>
            </div>
        </section>
        <section class="text-center mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-lg-7">
                        <h2>Maître mot : simplicité !</h2>
                        <p class="lead"> Créez votre compte et partagez votre lien, DossierFacile s'occupe du reste </p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="process-2 row">
                    <div class="col-md-3">
                        <div class="process__item">
                            <p> Je crée mon compte DossierFacile, seul prérequis à l'utilisation du service</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="process__item">
                            <p> Je demande à mes potentiels locataires de déposer leurs pièces sur DossierFacile en
                                envoyant
                                mon lien unique DossierFacile. Ce lien est disponible gratuitement sur mon compte
                                DossierFacile </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="process__item">
                            <p> DossierFacile conduit une série de tests afin de vérifier la cohérence des pièces de mes
                                locataires </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="process__item">
                            <p>Je reçois dans ma boite mail et sur mon espace DossierFacile les dossiers des candidats
                                ainsi
                                qu'une information sur les points de vigilance détectés par DossierFacile </p>
                        </div>
                    </div>
                </div>
                <div class="row mt-5 ">
                    <div class="offset-md-4 col-md-4 position-relative">
                        <div class="w-100 position-absolute float-right pr-5 pt-3 z-index-5">
                            <img alt="beautiful building" class="pr-3 float-right w-15 d-inline-block img-fluid"
                                 src="/assets/images/anil.png"/>
                        </div>

                        <div class="feature feature-1 boxed boxed--border bg--white position-relative">
                            <h5>ANIL</h5>
                            <p> Pour toutes questions relatives au logement, renseignez-vous auprès de l'ANIL ou de
                                votre ADIL. </p>
                            <a class="text-bleu-clair" href="https://www.anil.org/" target="_blank">
                                En savoir plus
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>
