<!DOCTYPE html>
<html lang="en"
      layout:decorator="layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DossierFacile</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div class="main-container">
        <section class="imageblock switchable height-100">
            <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                <div class="background-image-holder">
                    <img alt="beautiful building" src="/assets/images/Image_launch.PNG"/>
                </div>
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-lg-5 col-md-7">
                        <h1>Ça arrive...</h1>
                        <p class="lead"> DossierFacile lance son produit spécialement dédié aux professionnels de
                            l’immobilier ! </p>
                        <p class="lead"> Pour demander l’accès à notre produit gratuitement et en avant première,
                            inscrivez votre adresse e-mail. </p>

                        <form onsubmit="return validate_form()" th:action="@{/potentialClient}" th:method="post"
                              th:object="${potentialClientDTO}">
                            <div class="row">
                                <div class="col-12">
                                    <input minlength="1" placeholder="E-mail address" th:field="*{email}" type="email"/>
                                </div>
                                <div class="col-12">
                                <span class="help-block color--error" th:errors="*{email}"
                                      th:if="${#fields.hasErrors('email')}"></span>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn--primary type--uppercase" type="submit">Je veux essayer !
                                    </button>
                                </div>
                                <div class="col-12"></div>
                            </div>
                            <!--end row-->
                        </form>
                        <p class="lead">DossierFacile vous épargne les tâches répétitives ! Concentrez-vous sur
                            l'humain. </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="notification success-notification pos-right pos-top col-sm-4 col-md-3" data-animation="from-top"
         data-autohide="2000"
         data-autoshow="200" th:if="${notification}">
        <div class="boxed boxed--border border--round box-shadow">
            <div class="text-block">
                <h5>C'est bien enregistré !</h5>
                <p>Nos équipes vont revenir vers vous au plus vite</p>
            </div>
        </div>
        <div class="notification-close-cross notification-close"></div>
    </div>

</div>
</body>
</html>
