<!DOCTYPE html>
<html lang="en"
      layout:decorator="layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DossierFacile</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">
    <div class="main-container">

        <section class="pt-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-7 col-lg-6 text-center" th:if="${status!=null}">
                        <h3 th:text="${status}"></h3>
                    </div>
                    <div class="col-md-7 col-lg-6 text-center" th:if="${status==null}">
                        <h3> Choisissez si ce propriétaire peut voir votre dossier</h3>
                        <form th:action="@{/proprietaire/owner-subscriber}" th:method="post">
                            <input th:name="token" th:value="*{token}" type="hidden"/>
                            <input th:name="access" type="hidden" value="true"/>
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <button class="btn btn--primary text-uppercase"
                                            type="submit">
                                        Donner l’accès à mon compte
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="row justify-content-center mt-3">
                            <div class="modal-instance">
                                <a class="modal-trigger" href="#">
		                        <span class="btn__text">
			                        Je ne souhaite pas donner l’accès complet de mon compte à ce propriétaire
		                        </span>
                                </a>
                                <div class="modal-container">
                                    <div class="modal-content section-modal">
                                        <section class="unpad">
                                            <div class="container">
                                                <div class="row justify-content-center">
                                                    <div class="col-md-8 col-12">
                                                        <div class="feature feature-1">
                                                            <div class="feature__body boxed boxed--lg boxed--border text-center">
                                                                <div class="modal-close modal-close-cross"></div>
                                                                <div class="text-block">
                                                                    <div class="text-left">
                                                                        <p>Attention, en donnant l’accès restreint vous
                                                                            réduisez vos chances d’obtenir une visite.
                                                                            Pour autant, c’est tout à fait possible
                                                                            !</p>
                                                                    </div>
                                                                </div>
                                                                <form th:action="@{/proprietaire/owner-subscriber}"
                                                                      th:method="post">
                                                                    <input th:name="access" type="hidden"
                                                                           value="false"/>
                                                                    <input th:name="token" th:value="*{token}"
                                                                           type="hidden"/>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <button class="btn btn--secondary text-uppercase"
                                                                                    type="submit">
                                                                                CONTINUER QUAND MEME
                                                                            </button>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="btn btn--primary btn-block modal-close text-uppercase">
                                                                                <span class="btn__text">ANNULER</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center mt-3">
                            <h5 class="text-lead-color">
                                En donnant l’accès, vous permettez au propriétaire de consulter les pièces de votre
                                dossier.
                                Les dossiers consultables par les propriétaires ont plus de chance d’obtenir une visite
                                !
                            </h5>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>
