<!DOCTYPE html>
<html lang="en"
      layout:decorator="layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DossierFacile</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div class="main-container">
        <section class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-6">
                        <h2>Mot de passe perdu ?</h2>
                        <form class="row" th:action="@{/reset-password}" th:method="post">
                            <div class="col-md-12 text-left">
                                <span>Entrez l'email utilisé lors de la création du compte (attention aux majuscules):</span>
                                <input autocomplete="true" class="validate-required" id="recoveryEmail"
                                       name="recoveryEmail"
                                       placeholder="Ex : exemple@exemple.fr" required="required" type="email"/>
                            </div>
                            <div class="col-md-12 mt-4 justify-content-center align-content-center">
                                <button class="btn btn--primary w-25 text-uppercase" type="submit">valider</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
</body>
</html>
