<!DOCTYPE html>
<html lang="en"
      layout:decorator="layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DossierFacile</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div class="main-container">
        <section class="text-center ">
            <div class="container">
                <div class="row mb-4 justify-content-center">
                    <h2>Attention ! Le dossier SuperFacile est réservé aux entreprises
                        partenaires</h2>
                    <h4 class="text-uppercase">DECOUVREZ SI VOTRE ENTREPRISE EST PARTENAIRE !</h4>
                </div>
                <form th:action="@{/locataire/super-facile/nom-entreprise}" th:method="post"
                      th:object="${enterpriseDTO}">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-6">
                            <input id="nomEnterprise" minlength="1" placeholder="Nom entreprise" th:field="*{name}"
                                   type="text"/>
                            <span class="color--error" th:errors="*{name}"
                                  th:if="${#fields.hasErrors('name')}"></span>
                        </div>

                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-3 col-md-3">
                            <button class="btn btn--primary" type="submit">ENVOYER</button>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="modal-instance w-100">
                                <a class="modal-trigger w-100 btn btn--primary bg-orange border-0"
                                   href="#">
                                    <span class="btn__text">PAS MAINTENANT</span>
                                </a>
                                <div class="modal-container">
                                    <div class="modal-content text-center">
                                        <div class="boxed boxed--lg">
                                            <h2 th:text="#{super.facile.modal.title3}"></h2>
                                            <p class="my-5 lead text-dark">
                                                <span th:text="#{super.facile.modal.subtitle3}"></span>
                                            </p>
                                            <a class="btn btn--primary modal-close"
                                               th:href="@{/locataire/mon-compte}">
                                                <span class="btn__text text-uppercase">continuer</span>
                                            </a>
                                        </div>
                                        <div class="modal-close modal-close-cross"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--end of container-->
        </section>
    </div>
</div>
<div layout:fragment="javascripts" th:remove="tag">
    <script src="/js/name-enterprise.js"></script>
</div>
</body>
</html>
