<!DOCTYPE html>
<html lang="en"
      layout:decorator="layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DossierFacile</title>
    <meta content="noindex, nofollow" name="robots"/>
</head>
<body>

<div layout:fragment="content" th:remove="tag">
    <div class="main-container">
        <section class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8">
                        <h2><b>DossierFacile, le dossier de location intelligent</b></h2>
                        <p class="lead">
                            <b>La colocation est composée de 2 colocataires qui gagnent en tout 4,000 euros nets par
                                mois.</b>

                        </p>
                        <p class="lead">
                            <b>Tous les dossiers sont <span class="text-success">Clairs</span>, <span
                                    class="text-success"> Complets</span> et <span class="text-success">Cohérents</span>
                                !</b>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="tabs-container tabs--vertical">
                            <ul class="tabs">
                                <li class="active">
                                    <div class="tab__title">
                                        <span class="h5">Jean-Michel Dupont</span>
                                    </div>
                                </li>
                                <li class="">
                                    <div class="tab__title">
                                        <span class="h5">Eric Dupont (Garant)</span>
                                    </div>
                                </li>
                                <li class="">
                                    <div class="tab__title">
                                        <span class="h5">Serge Dupont</span>
                                    </div>
                                </li>
                            </ul>
                            <ul class="tabs-content">
                                <li class="active">
                                    <div class="tab__content">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="feature feature--featured feature-1 boxed boxed--border">
                                                        <h5>Pièce d'identité</h5>
                                                        <br/>
                                                        <i class="icon icon-Male add-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="feature feature--featured feature-1 boxed boxed--border">
                                                        <h5>Justificatif de domicile</h5>
                                                        <br/>
                                                        <i class="icon icon-Warehouse add-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="feature feature--featured feature-1 boxed boxed--border">
                                                        <h5>Contrat de travail</h5>
                                                        <br/>
                                                        <i class="icon icon-File add-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="feature feature--featured feature-1 boxed boxed--border">
                                                        <h5>Avis d'imposition conforme</h5>
                                                        <br/>
                                                        <i class="icon icon-Folder-WithDocument add-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="feature feature--featured feature-1 boxed boxed--border">
                                                        <h5>Justificatif de ressources</h5>
                                                        <br/>
                                                        <i class="icon icon-Money-Bag add-icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="">
                                    <div class="tab__content">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="feature feature--featured feature-1 boxed boxed--border">
                                                        <h5>Pièce d'identité</h5>
                                                        <br/>
                                                        <i class="icon icon-Male add-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="feature feature--featured feature-1 boxed boxed--border">
                                                        <h5>Justificatif de domicile</h5>
                                                        <br/>
                                                        <i class="icon icon-Warehouse add-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="feature feature--featured feature-1 boxed boxed--border">
                                                        <h5>Contrat de travail</h5>
                                                        <br/>
                                                        <i class="icon icon-File add-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="feature feature--featured feature-1 boxed boxed--border">
                                                        <h5>Avis d'imposition conforme</h5>
                                                        <br/>
                                                        <i class="icon icon-Folder-WithDocument add-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="feature feature--featured feature-1 boxed boxed--border">
                                                        <h5>Justificatif de ressources</h5>
                                                        <br/>
                                                        <i class="icon icon-Money-Bag add-icon"></i>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="">
                                    <div class="tab__content">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="feature feature--featured feature-1 boxed boxed--border">
                                                        <h5>Pièce d'identité</h5>
                                                        <br/>
                                                        <i class="icon icon-Male add-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="feature feature--featured feature-1 boxed boxed--border">
                                                        <h5>Justificatif de domicile</h5>
                                                        <br/>
                                                        <i class="icon icon-Warehouse add-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="feature feature--featured feature-1 boxed boxed--border">
                                                        <h5>Contrat de travail</h5>
                                                        <br/>
                                                        <i class="icon icon-File add-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="feature feature--featured feature-1 boxed boxed--border">
                                                        <h5>Avis d'imposition conforme</h5>
                                                        <br/>
                                                        <i class="icon icon-Folder-WithDocument add-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="feature feature--featured feature-1 boxed boxed--border">
                                                        <h5>Justificatif de ressources</h5>
                                                        <br/>
                                                        <i class="icon icon-Money-Bag add-icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

</body>
</html>
