<!DOCTYPE html>
<html lang="en"
      layout:decorator="layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DossierFacile</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div class="main-container">

        <section>
            <div class="container space--sm">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-8">
                        <div class="masonry masonry-blog-list">
                            <hr/>
                            <div class="masonry__container masonry--active">
                                <article class="masonry__item filter-web-design">
                                    <div class="article__title text-center">
                                        <a href="/blog/article1">
                                            <h2>Quelles pièces justificatives fournir pour mon dossier de location
                                                ? </h2>
                                        </a>
                                        <span>November 14th 2019 in</span>
                                        <span>
                                                <a href="#">DossierFacile</a>
                                            </span>
                                    </div>
                                    <!--end article title-->
                                    <div class="article__body">
                                        <a href="/blog/article1">
                                            <img alt="Image" src="/assets/images/blog-article.png"/>
                                        </a>
                                        <p>
                                            A cause de l’augmentation de la demande immobilière, il devient de plus en
                                            plus difficile de trouver un bon appartement à louer. Dans cette recherche,
                                            le dossier est un facteur démarquant. Comment constituer mon dossier de
                                            location ? Que peut demander le propriétaire ? Bien que la loi encadre ces
                                            pratiques, un grand flou règne encore souvent autour des éléments qu’il faut
                                            fournir pour avoir un dossier de location complet, clair et cohérent.
                                        </p>
                                        <a href="/blog/article1">Continue reading »</a>
                                    </div>
                                </article>
                                <article class="masonry__item filter-web-design">
                                    <div class="article__title text-center">
                                        <a href="/blog/article2">
                                            <h2>Constituer votre Dossier Facile </h2>
                                        </a>
                                        <span>December 12nd 2019 in </span>
                                        <span>
                                                <a href="#">DossierFacile</a>
                                            </span>
                                    </div>
                                    <!--end article title-->
                                    <div class="article__body">
                                        <a href="/blog/article2">
                                            <img alt="Image" src="/assets/images/blog-article2.png"/>
                                        </a>
                                        <p>
                                            Dans un contexte de pénurie de logements, <a href="/blog/article1">le
                                            dossier est devenu un facteur démarquant.</a> Mais comment constituer un
                                            dossier de location qui regroupe tous les documents nécessaires sans tomber
                                            dans le désordre d’un pdf de cinquante pages ? Existe-t-il un outil facile
                                            et
                                            gratuit ?
                                        </p>
                                        <a href="/blog/article2">Continue reading »</a>
                                    </div>
                                </article>
                                <!--end item-->
                                <article class="masonry__item filter-web-design">
                                    <div class="article__title text-center">
                                        <a href="/blog/article2">
                                            <h2>Pourquoi Dossier Facile est-il gratuit ? </h2>
                                        </a>
                                        <span>July 21nd 2020 in </span>
                                        <span>
                                                <a href="#">DossierFacile</a>
                                            </span>
                                    </div>
                                    <!--end article title-->
                                    <div class="article__body">
                                        <a href="/blog/article3">
                                            <img alt="Image" src="/assets/images/blog-article3.png"/>
                                        </a>
                                        <p>
                                            Dossier facile est une start-up qui propose une solution simple et gratuite
                                            pour remettre la confiance au cœur du processus de location : un dossier
                                            labélisé, propre et clair, transmis sous la forme efficace d’un lien
                                            numérique. Cependant, efficacité et gratuité vont rarement de pair. Alors
                                            pourquoi votre dossier de location est-il gratuit ?
                                        </p>
                                        <a href="/blog/article3">Continue reading »</a>
                                    </div>
                                </article>
                                <!--end item-->
                            </div>
                        </div>
                        <!--end masonry-->
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
    </div>
</div>
</body>
</html>
