
.progress {
    border-radius: 2rem;
}

.progress .progress-bar {
    transition-duration: 0.1s;
}

.progress .progress-bar.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 2rem 2rem;
}

@keyframes progress-bar-stripes {
    from {
        background-position: 2rem 0px;
    }
    to {
        background-position: 0px 0px;
    }
}

.progress-bar-animated {
    animation: progress-bar-stripes 1s linear infinite;
}
