@media (min-width: 768px) {
    .process-1 .process__item:nth-child(odd) {
        text-align: unset !important;
        margin-left: 2%;
        padding-left: 3.71428571em;
    }

    .process-1 .process__item:nth-child(odd):after {
        right: unset !important;
        left: -0.92857143em;
    }

    .process-1 .process__item:nth-child(even) {
        margin-left: 2%;
        padding-right: 3.71428571em;
    }

    .process-1 .process__item:nth-child(even):after {
        left: -0.92857143em;
    }
}

.process-1:before {
    left: 2% !important;
}

.process-1 .process__item {
    width: 100%;
}

.box-mon-recap {
    width: 20%;
}

.same-height {
    height: 100%;
}

.material-icons.md-18 {
    font-size: 18px;
}

.modal-file-button {
    width: 100% !important;
}

.links-roommate {
    float: right;
    margin-right: -30px;
    margin-bottom: -27px;
    margin-top: 10px;
}

.links-roommate-delete {
    margin-right: 20px;
    margin-top: 5px;
}