/dossierfacile-bo/tokens/
/front/tokens/
!.mvn/wrapper/maven-wrapper.jar
application-*.properties
!application-test.properties
.env
target/
mock_storage/
.DS_Store
static-front/
logs/
hs_err_pid*.log
tmp
**/certs/*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Used in test
7fdad8b1*