<!DOCTYPE html>
<html lang="en"
      layout:decorator="owner/layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DossierFacile</title>
</head>
<body>
<div layout:fragment="sidebar" th:remove="tag">
    <div th:replace="owner/sidebar:: sidebar"></div>
</div>
<div layout:fragment="content" th:remove="tag">

    <div class="boxed boxed--border bg--secondary boxed--lg box-shadow"
         id="modify-owner-compte-notification">
        <h3> Modifications enregistrées ! </h3>
        <p>
            Vos modifications ont bien été prises en compte et sont désormais appliquées.
        </p>
    </div>

    <section class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-6">
                    <h2 class="col-md-12 text-left"> Pour gérer vos dossiers simplement, commencez par ajouter un
                        bien en rentrant son adresse ! </h2>
                    <div class="col-md-12">
                        <hr class="short"/>
                    </div>

                    <form th:action="@{/proprietaire/ajouter-propriete}" th:method="post" th:object="${property}">

                        <div class="col-md-12 text-left">
                            <span> Adresse : </span>
                            <input class="small validate-required" placeholder="Ex : 36  rue Nationale"
                                   required="required"
                                   th:field="*{name}" type="text"/>
                            <span class="color--error" th:errors="*{name}"
                                  th:if="${#fields.hasErrors('name')}"></span>
                        </div>

                        <div class="col-md-12 text-left">
                            <span> Property Id : </span>
                            <input class="small validate-required" placeholder="Ex : 34524"
                                   th:field="*{propertyId}" type="text"/>
                            <span class="color--error" th:errors="*{propertyId}"
                                  th:if="${#fields.hasErrors('propertyId')}"></span>
                        </div>

                        <div class="col-md-12 text-left">
                            <span> Montant du loyer (en euros) </span>
                            <input class="small validate-required" placeholder="Ex : 100.00"
                                   th:field="*{rentCost}" type="text"/>
                            <span class="color--error" th:errors="*{rentCost}"
                                  th:if="${#fields.hasErrors('rentCost')}"></span>
                        </div>

                        <div class="col-12 text-left" id="errors">
                        </div>

                        <div class="col-md-12 mt-4 justify-content-center align-content-center">
                            <button class="btn btn--primary border-0 bg-orange w-100 text-uppercase" id="save-button"
                                    type="submit">
                                Ajouter properte
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>