<div th:fragment="pagination (items, paramKey, paramValue, endpoint, maxPages)"
     xmlns:th="http://www.thymeleaf.org"
     th:with="effectiveTotalPages=${T(java.lang.Math).min(maxPages, items.totalPages)}">
    <div class="row table-nav">
        <div th:if="${effectiveTotalPages > 1}" class="mb-3 col-md-12 pagination-centered">
            <ul class="pagination">
                <li th:class="${items.number == 0} ? disabled">
                    <a class="page-link" th:href="@{${endpoint}(${paramKey}=${paramValue}, page=1)}">&laquo;</a>
                </li>
                <li th:class="${items.number == 0} ? disabled">
                    <a class="page-link" th:href="@{${endpoint}(${paramKey}=${paramValue}, page=${items.number})}">&larr;</a>
                </li>
                <li th:each="page : ${#numbers.sequence(1, effectiveTotalPages)}"
                    th:class="${items.number == (page - 1)} ? 'active pointer-disabled'">
                    <a class="page-link" th:href="@{${endpoint}(${paramKey}=${paramValue}, page=${page})}"
                       th:text="${page}"></a>
                </li>
                <li th:class="${items.number + 1 == effectiveTotalPages} ? disabled">
                    <a class="page-link" th:href="@{${endpoint}(${paramKey}=${paramValue}, page=${items.number + 2})}">&rarr;</a>
                </li>
                <li th:class="${items.number + 1 == effectiveTotalPages} ? disabled">
                    <a class="page-link" th:href="@{${endpoint}(${paramKey}=${paramValue}, page=${effectiveTotalPages})}">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
