<!DOCTYPE html>
<html lang="en"
      layout:decorator="layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DossierFacile</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">
    <section class="text-center py-5">
        <div class="col-lg-12 col-md-12">
            <div class="container">
                <div class="row">
                    <div class="pb-5 col-lg-8 col-md-10">
                        <h3>EN (FIN) DE CONSTRUCTION… </h3>
                        <p>
                            Malheureusement, le service n'est pas encore disponible... nous faisons tout notre possible
                            pour vous rendre la fonctionnalité accessible dans les meilleurs délais !
                        </p>

                        <p>
                            Nous vous avertirons dès que ce service sera disponible !
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="mt-5 col-lg-8 col-md-10">
                        <a class="btn btn--primary type--uppercase"
                           th:href="@{/locataire}">
                            <span class="btn__text"> Retour au site </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
