<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="include/head :: head"></head>
</head>
<body>

<div layout:fragment="sidebar" th:remove="tag"></div>
<div class="main-container">

    <div layout:fragment="header">
        <div th:replace="include/fixed-header :: fixed-header">...</div>
    </div>
    <div layout:fragment="content"></div>
    <div th:replace="agent/footer :: footer">...</div>
</div>
<div layout:fragment="sidebar2"></div>
<div class="all-page-modals">
    <div th:replace="agent/sidebar::modal"></div>
</div>
<div class="boxed boxed--border  bg--secondary boxed--lg box-shadow fixed-bottom position-fixed mx-3 mb-2"
     id="cookie">
    <p>
        En poursuivant votre navigation sur notre site, vous acceptez l'utilisation des cookies contribuant à la
        réalisation de statistiques et à l'amélioration de notre service, dans le respect de notre politique de
        protection de votre vie privée.
    </p>
    <a class="btn btn--primary" href="#" id="hideCookie">
		<span class="btn__text">
			J'ai compris
		</span>
    </a>
</div>

<div th:replace="include/scripts :: script">...</div>
<div layout:fragment="javascripts">
    <script src="/js/sidebar.js"></script>
</div>
</body>
</html>
