<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="bo/layout-bo">
<head>
    <title>DossierFacile</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div th:replace="bo/menu :: menu">...</div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="form" th:action="@{/bo/admin}" method="post" th:object="${userDTO}"
                  onsubmit="return validate_form()"
                  id="formLocataire">
                <div class="form-group">
                    <input type="text" autocomplete="true" th:field="*{lastName}"
                           class="form-control form-control-formatted form-control-untouched " placeholder="Nom"
                           id="lastName"/>
                    <span th:if="${#fields.hasErrors('lastName')}" class="help-block color--error" th:errors="*{lastName}"></span>
                </div>
                <div class="form-group">
                    <input type="text" autocomplete="true" th:field="*{firstName}"
                           class="form-control form-control-formatted form-control-untouched" placeholder="Prenom"
                           id="firstName"/>
                    <span th:if="${#fields.hasErrors('firstName')}" class="help-block color--error" th:errors="*{firstName}"></span>
                </div>
                <div class="form-group">
                    <input type="email" id="email" autocomplete="off" name="email" th:field="*{email}"
                           class="form-control form-control-formatted form-control-untouched" placeholder="Email"/>
                    <span th:if="${#fields.hasErrors('email')}" class="help-block color--error" th:errors="*{email}"></span>
                </div>
                <div class="form-group">
                    <select th:field="*{role}" multiple="multiple" required="required"
                            class="form-control form-control-formatted form-control-untouched"
                            placeholder="Situation">
                        <option th:each="roleUser, iter: ${T(fr.gouv.common.security.Role).values()}"
                                th:if="${iter.index==2 or iter.index ==3 or iter.index == 5}" th:value="${roleUser}"
                                th:text="${roleUser.name()}">
                        </option>
                    </select>
                </div>
                <div class="text-center medium-space-separator">
                    <button th:text="#{tenant.form.button.next}" type="submit"
                            data-loading-text="Next step in course"
                            id="create-tenant" class="btn btn-default btn-responsive subtitle1">
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
