<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="bo/layout-bo">
<head>
    <title>DossierFacile</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div th:replace="bo/menu :: menu">...</div>
    <div class="container">

        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>FeedbackMessage</th>
                </tr>
                </thead>
                <tr th:each="feedback : ${feedbacks}">
                    <td th:text="${feedback.feedbackMessage}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>

