<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="bo/layout-bo">
<head>
    <title>DossierFacile</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag" th:with="email=${email}">
    <div class="col-md-12" >
        <div class="row">
            <div class="" style="display: inline-grid;grid-auto-columns: max-content; margin-left: 20px; float: left">
                <div th:if="${isUserAdmin} == true">
                    <a href="/bo/dashboard/all" class="btn" id="dashboardAll"  style="background: #e63d3d;padding: 10px 16px 12px;float: left;color: aliceblue;font-size: large;margin-left: 10px;">
                        Dashboard - dossiers traités du jour
                    </a>
                </div>
                <div th:if="${isUserAdmin} == true">
                    <a href="/bo/users" class="btn" id="boUsersListing" style="background: #e63d3d;padding: 10px 16px 12px;float: left;color: aliceblue;font-size: large;margin-left: 10px;margin-top: 10px">
                        Gestion Utilisateurs BO
                    </a>
                </div>
                <div th:if="${isUserAdmin} == true">
                    <a href="/bo/documentDeniedOptions" class="btn" id="editMessages" style="background: #e63d3d;padding: 10px 16px 12px;float: left;color: aliceblue;font-size: large;margin-left: 10px;margin-top: 10px">
                        Editer les messages
                    </a>
                </div>
                <div th:if="${isUserAdmin} == true">
                    <a href="/bo/userApi" class="btn" id="userApi" style="background: #e63d3d;padding: 10px 16px 12px;float: left;color: aliceblue;font-size: large;margin-left: 10px;margin-top: 10px">
                        API Partners
                    </a>
                </div>
                <div th:if="${isUserAdmin} == true">
                    <a href="/bo/log" class="btn" id="displayLogs" style="background: #e63d3d;padding: 10px 16px 12px;float: left;color: aliceblue;font-size: large;margin-left: 10px;margin-top: 10px">
                        Afficher les logs
                    </a>
                </div>
                <div>
                    <a href="/bo/owners" class="btn" id="displayOwner" style="background: #1f6685;padding: 10px 16px 12px;float: left;color: aliceblue;font-size: large;margin-left: 10px;margin-top: 10px">
                        Liste des comptes propriétaires
                    </a>
                </div>
                <div style="margin-top: 10px">
                    <a href="/bo/regroup" class="btn" id="nextApplication3" style="background: #1f6685;padding: 10px 10px 12px;float: left;color: aliceblue;font-size: large;margin-left: 10px;">Regrouper deux locataires</a>
                </div>
            </div>

            <div style="display: inline-grid; justify-content: right; margin-right: 20px; float: right;">
                <div th:if="${oldestApplication.isPresent()}"
                     th:with="tenant=${oldestApplication.get()}">
                    <div style="background: bisque; padding: 10px; font-size: 16px">
                        <p style="color: red; font-weight: bold;">
                            Dossier à traiter le plus ancien :
                        </p>
                        <span
                          th:with="date=${tenant.getLastUpdateDate()},
                                   formattedDate=${T(fr.gouv.bo.utils.DateFormatUtil).formatPreciselyRelativeToNow(date)}"
                          th:text="'Modifié ' + ${formattedDate}"
                        ></span>
                    </div>
                    <div>
                        <a th:href="@{/bo/colocation/} + ${tenant.getApartmentSharing().getId()} + '#tenant' + ${tenant.getId()}">
                            <button style="border-radius: 5px; width: 100%" class="btn btn-danger bo-btn" name="action" type="submit">
                                Voir le dossier
                            </button>
                        </a>
                    </div>
                </div>
                <div style="background: bisque; padding: 10px; font-size: 16px; margin-top: 15px;">
                    <a th:href="@{/bo/documentFailedList}" style="text-decoration: none;">
                        <span>
                            <span style="color: red; font-weight: bold;">Locataires avec erreur PDF :</span>
                            <span th:text="${TenantsWithFailedGeneratedPdf}"></span>
                        </span>
                    </a>
                </div>
                <div th:if="${TenantsWithFailedGeneratedPdf != 0}">
                    <form th:action="@{/bo/regeneratePdfDocument}" th:method="post">
                        <button style="border-radius: 5px; width: 100%" class="btn btn-danger bo-btn" name="action" type="submit">
                            Regénération PDF en echec
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="text-center margin-bottom">
            <span th:text="${numberOfTenantsToProcess} +' DOSSIERS A VALIDER'"></span>
        </div>
        <div class="text-center margin-bottom">
            <a th:href="@{/bo/nextApplication}" class="btn btn-primary" id="nextApplication">Traiter un dossier</a>
        </div>
        <div class="clearfix"></div>
        <div class="table-responsive">
            <table th:object="${tenants}" id="userTable" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <td></td>
                    <td>Id</td>
                    <td>Dernière modification</td>
                    <td>Prénom</td>
                    <td>Nom</td>
                    <td>Email</td>
                </tr>
                </thead>
                <tr th:each="tenant : ${tenants}">
                    <td><a class="btn btn-warning bo-btn" th:href="'/bo/nextApplication?tenant_id='+${tenant.getId()}">
                        Traiter le dossier
                    </a></td>
                    <td>
                        <span th:text="${tenant.getId()}"></span>
                    </td>
                    <td
                      th:with="formattedDate=${T(fr.gouv.bo.utils.DateFormatUtil).formatPreciselyRelativeToNow(tenant.getLastUpdateDate())}"
                      th:text="${formattedDate}"></td>
                    <td th:text="${tenant.getFirstName()}"></td>
                    <td th:text="${tenant.getLastName()}"></td>
                    <td th:text="${tenant.getEmail()}"></td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="form-group col-md-1">
                <select class="form-control pagination pageSizeSelect" data-url="/bo">
                    <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"
                            th:selected="${pageSize} == ${selectedPageSize}"></option>
                </select>
            </div>
            <div th:if="${tenants.totalPages > 1}" class="form-group col-md-11 pagination-centered">
                <ul class="pagination">
                    <li th:class="${tenants.number == 0} ? disabled">
                        <a class="pageLink" th:href="@{/bo(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
                    </li>
                    <li th:class="${tenants.number == 0} ? disabled">
                        <a class="pageLink"
                           th:href="@{/bo(pageSize=${selectedPageSize}, page=${tenants.number})}">&larr;</a>
                    </li>
                    <li th:class="${tenants.number == (page - 1)} ? 'active pointer-disabled'"
                        th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                        <a class="pageLink" th:href="@{/bo(pageSize=${selectedPageSize}, page=${page})}"
                           th:text="${page}"></a>
                    </li>
                    <li th:class="${tenants.number + 1 == tenants.totalPages} ? disabled">
                        <a class="pageLink"
                           th:href="@{/bo(pageSize=${selectedPageSize}, page=${tenants.number + 2})}">&rarr;</a>
                    </li>
                    <li th:class="${tenants.number + 1 == tenants.totalPages} ? disabled">
                        <a class="pageLink"
                           th:href="@{/bo(pageSize=${selectedPageSize}, page=${tenants.totalPages})}">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<div layout:fragment="javascripts" th:remove="tag">
    <script src="/js/bo/index.js"></script>
</div>
</body>
</html>
