<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">
<head>
    <head th:replace="~{include/head-bo :: head-bo}"></head>
</head>
<body class="bg-body-secondary">
<header layout:fragment="header" class="fixed-header mb-4">
    <div th:replace="~{include/fixed-header-bo :: fixed-header-bo}">...</div>
</header>
<div layout:fragment="content"></div>
<div th:replace="~{include/footer-bo :: footer-bo}">...</div>


<div th:replace="~{include/scripts-bo :: script-bo}">...</div>
<div layout:fragment="javascripts">
</div>
</body>
</html>
