<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{bo/layout-bo}">
<head>
    <title>DossierFacile</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="container actions-section">
        <div class="row">
            <form method="get"
                  th:action="@{/bo/log(pageSize=${selectedPageSize}, page=1, tenantId=${tenantId})}"
                  class="filter">
                <span>
                    <label>TenantId: </label><input type="text" th:value="*{tenantId}" name="tenantId"/>
                    <button type="submit" class="btn btn-info">Filtrer</button>
                </span>
            </form>
        </div>
        <div class="row table-nav mt-4">
            <div th:replace="~{bo/fragments/pagination :: pagination (items=${logs}, paramKey='tenantId', paramValue=${tenantId}, pageSizes=${pageSizes}, endpoint='/bo/log')}"></div>
        </div>
    </div>
    <div class="container">
        <div></div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Creation date</th>
                    <th>OperatorId</th>
                    <th>TenantId</th>
                    <th>Log type</th>
                    <th>MessageId</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="log : ${logs}">
                    <td th:utext="${log.getCreationDateTime()}"></td>
                    <td th:text="${log.operatorId}"></td>
                    <td >
                        <a th:if="${log.tenantId}" th:href="@{/bo/tenant/}+${log.tenantId}" th:text="${log.tenantId}" >
                            <span class="fa fa-eye"></span>
                        </a>
                    </td>
                    <td th:if="${log.getLogType().name()=='ACCOUNT_VALIDATED'}">
                        <span class="badge bg-success" th:text="${log.getLogType()}"></span>
                    </td>
                    <td th:unless="${log.getLogType().name()=='ACCOUNT_VALIDATED'}">
                        <span th:text="${log.getLogType()}"></span>
                    </td>
                    <td th:class="${log.getLogType().name()=='ACCOUNT_VALIDATED'}?'bold':''"
                        th:text="${log.getMessageId()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="~{bo/fragments/pagination :: pagination (items=${logs}, paramKey='tenantId', paramValue=${tenantId}, pageSizes=${pageSizes}, endpoint='/bo/log')}"></div>

  </div>

</div>

</body>
</html>
