<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head></head>
<body>

<div th:fragment="menu" th:remove="tag">
    <div class="hidden-xs">
        <a href="/bo/property">Properties</a>
        <br/>
        <a href="/bo/colocation">Dossiers colocations</a>
        <br/>
        <a href="/bo/log">Logs</a>
        <br/>
        <a href="/bo/statistic">Statistics</a>
        <br/>
        <a href="/bo/statistic/dsf">DossierSuperFacile Statistics</a>
        <br/>
        <a href="/bo/statistic/prospect">Prospects Statistics</a>
        <br/>
        <a href="/bo/statistic/contract-migration">Contract migration statistics</a>
        <br/>
        <a href="/bo/statistic/operator">File statistics</a>
        <br/>
        <a href="/bo/statistic/files-with-error">Files With Error</a>
        <br/>
        <a href="/bo/agent">Agents</a>
        <br sec:authorize="hasRole('ROLE_ADMIN')"/>
        <a sec:authorize="hasRole('ROLE_ADMIN')" href="/bo/userApi">User API</a>
        <br sec:authorize="hasRole('ROLE_ADMIN')"/>
        <a sec:authorize="hasRole('ROLE_ADMIN')" href="/bo/deleteAccount">Delete Account</a>
        <br sec:authorize="hasRole('ROLE_ADMIN')"/>
        <a sec:authorize="hasRole('ROLE_ADMIN')" href="/bo/timeServeTenant">TimeServeTenant</a>
        <br sec:authorize="hasRole('ROLE_ADMIN')"/>
        <a sec:authorize="hasRole('ROLE_ADMIN')"
           th:href="@{/bo/statistic/admin(date=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}, days=7)}">Statistics
            operators</a>
        <br/>
        <a href="/bo/feedback">Feedback</a>
        <br/>
        <a href="/bo/properties-pro">Properties-pro</a>
        <br/>
        <a href="#" data-toggle="modal" data-target="#addProspect">Add a prospect</a>
        <br sec:authorize="hasRole('ROLE_ADMIN')"/>
        <a href="/bo/sleepMode" sec:authorize="hasRole('ROLE_ADMIN')">Sleep mode</a>
        <br/>
        <a href="/bo/statistic/blurStatistic">Blur statistics</a>
        <br/>
        <a href="/bo/deleteFile">Delete file</a>
        <br/>
        <a href="/bo/statistic/tenant">Tenant statistics</a>
        <br/><br/><br/>
    </div>
</div>

</body>

</html>
