<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="message" th:remove="tag">
    <div class="container">
        <div id="chat-page">
            <div class="chat-container bg-primary-subtle">
                <div class="row hidden-xs">
                    <div class="col-md-12">
                        <ul th:id="'messageArea' + ${tenant.getId()}" class="message-area bg-light-subtle">
                            <li class="chat-message"
                                style="border-radius: 10px;margin-top:10px;margin-bottom:10px;"
                                th:each="message: ${messages}" th:classappend="${message.getFromUser()==null}?'bg-secondary-subtle':'bg-dark-subtle'"
                            >
                                <div th:if="${message.getFromUser()==null}" class="message-you" >
                                    <div class="avatar text-light">
                                        <i style="background-color: rgb(87 91 95);">M</i>
                                    </div>
                                    <div class="container-message-you row">
                                        <div class="title-header col-md-10">
                                            DossierFacile
                                        </div>
                                        <div class="date-you col-md-2"
                                             th:text="${#temporals.format(message.getCreationDateTime(), 'dd/MM HH:mm')}">
                                        </div>
                                        <div class="col-md-12 content-you">
                                            <p th:utext="${message.getMessageBody()}"></p>
                                        </div>
                                    </div>
                                </div>
                                <div th:if="${message.getFromUser()!=null}" class="message">
                                    <div class="avatar text-light">
                                        <i style="background-color: rgb(183 175 175);"
                                           th:text="${tenant.getFirstName() != null && !tenant.getFirstName().isBlank() ? tenant.getFirstName().charAt(0) : 'U'}">
                                        </i>
                                    </div>
                                    <div class="container-message row">
                                        <div class="title-header col-md-10">
                                            <span th:text="${tenant.getFullName()}">User</span>
                                        </div>
                                        <div class="col-md-2 date-you-two"
                                             th:text="${#temporals.format(message.getCreationDateTime(), 'dd/MM HH:mm')}">
                                        </div>
                                        <div class="content col-md-12">
                                            <p th:utext="${message.getMessageBody()}"></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row hidden-xs" style="margin-top: 15px">
                    <form th:object="${message}" th:action="@{/message/new/} + ${tenant.id}"
                          th:id="'messageForm'+${tenant.id}" th:method="post"
                          th:attr="data-id=${aptSharingId}"
                    >
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <textarea type="text" rows="10"
                                      th:id="'message'+${tenant.id}"
                                      th:field="*{message}"
                                      lang="fr"
                                      class="form-control" style="height: 200px;">
                            </textarea>
                            <button id="formChat" type="submit"
                                    class="btn btn-primary bo-btn"
                                    style="margin: 15px 0">
                                Envoyer
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
