<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="message" th:remove="tag">
    <div class="container">
        <div id="chat-page">
            <div class="chat-container" style="background: aliceblue;">
                <div class="row hidden-xs">
                    <div class="col-md-12">
                        <ul th:id="'messageArea' + ${tenant.getId()}" style="height: 500px;margin-top:10px;
                            margin-bottom:5px;border-radius: 5px;">
                            <li class="chat-message"
                                th:each="message: ${messages}" th:style="${message.getFromUser()==null}?'background: #f8f8f8;border-radius: 10px;margin-top:10px;margin-bottom:10px;' : 'background: #77777738;border-radius: 10px;margin-top:10px;margin-bottom:10px;'"
                            >
                                <div th:if="${message.getFromUser()==null}" class="message-you" >
                                    <div class="avatar">
                                        <i style="background-color: rgb(87 91 95);">M</i>
                                    </div>
                                    <div class="container-message-you">
                                        <div class="title-header-you col-md-10">
                                            <span th:text="${name}"></span>
                                        </div>
                                        <div class="date-you"
                                             th:text="${#temporals.format(message.getCreationDateTime(), 'dd/MM HH:mm')}">
                                        </div>
                                        <div class="content-you letter-bo bold">
                                            <p style="margin-top: 20px;margin-bottom: 5px" th:utext="${message.getMessageBody()}"></p>
                                        </div>
                                    </div>
                                </div>
                                <div th:if="${message.getFromUser()!=null}" class="message">
                                    <div class="avatar">
                                        <i style="background-color: rgb(183 175 175);"
                                           th:text="${tenant.getFirstName() != null && !tenant.getFirstName().isBlank() ? tenant.getFirstName().charAt(0) : 'U'}">
                                        </i>
                                    </div>
                                    <div class="container-message">
                                        <div class="title-header col-md-10">
                                            <span th:text="${tenant.getFullName()}">User</span>
                                        </div>
                                        <div class="date-you-two"
                                             th:text="${#temporals.format(message.getCreationDateTime(), 'dd/MM HH:mm')}">
                                        </div>
                                        <div class="content letter-bo bold">
                                            <p style="margin-top: 20px;margin-bottom: 5px" th:utext="${message.getMessageBody()}"></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row hidden-xs" style="margin-top: 15px">
                    <form th:object="${message}" th:action="@{/message/new/} + ${tenant.id}"
                          th:id="'messageForm'+${tenant.id}" th:method="post"
                          th:attr="data-id=${aptSharingId}"
                    >
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <textarea type="text" rows="10"
                                      th:id="'message'+${tenant.id}"
                                      th:field="*{message}"
                                      lang="fr"
                                      class="form-control text-area-bo" style="height: 170px;">
                            </textarea>
                            <button id="formChat" type="submit"
                                    class="btn btn-primary bo-btn"
                                    style="margin: 15px 0">
                                Envoyer
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
