<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{bo/layout-bo}">
<head>
  <title>DossierFacile</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

  <div class="container-lg actions-section">
    <div class="row">
      <form method="get"
            th:action="@{/bo/owners(pageSize=${selectedPageSize}, page=1, ownerEmail=${ownerEmail},ownerFirstname=${ownerFirstname},ownerLastname=${ownerLastname})}"
            class="filter">
                <span>
                    <label for="ownerEmail">E-mail:</label>
                    <input type="text" id="ownerEmail" th:value="*{ownerEmail}" name="ownerEmail"/>

                    <label for="ownerFirstname">Prénom:</label>
                    <input type="text" id="ownerFirstname" th:value="*{ownerFirstname}" name="ownerFirstname"/>

                    <label for="ownerLastname">Nom:</label>
                    <input type="text" id="ownerLastname" th:value="*{ownerLastname}" name="ownerLastname"/>

                    <button type="submit" class="btn btn-info">Filtrer</button>
                </span>
      </form>
    </div>
    <div class="row table-nav mt-4" th:with="parameters=${ 'ownerEmail=' + ownerEmail + '&ownerFirstname=' + ownerFirstname + '&ownerLastname=' + ownerLastname}">
      <div th:replace="~{bo/fragments/pagination-with-parameters :: pagination (items=${owners}, parameters=${parameters}, pageSizes=${pageSizes}, endpoint='/bo/owners')}"></div>
    </div>
  </div>
  <div class="container-lg">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th>Creation date</th>
          <th>id</th>
          <th>Owner email</th>
          <th>First name</th>
          <th>Last name</th>
          <th></th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="owner : ${owners}">
          <td th:utext="${owner.getCreationDateTime()}"></td>
          <td th:text="${owner.id}"></td>
          <td th:text="${owner.email}"></td>
          <td th:text="${owner.firstName}"></td>
          <td th:text="${owner.lastName}"></td>
          <td >
            <a  th:href="@{/bo/owners/}+${owner.id}" >
              <span class="fa fa-eye"></span>
            </a>
          </td>
        </tbody>
      </table>
    </div>
    <div class="row table-nav">
      <div class="row table-nav mt-4" th:with="parameters=${ 'ownerEmail=' + ownerEmail + '&ownerFirstname=' + ownerFirstname + '&ownerLastname=' + ownerLastname}">
        <div th:replace="~{bo/fragments/pagination-with-parameters :: pagination (items=${owners}, parameters=${parameters}, pageSizes=${pageSizes}, endpoint='/bo/owners')}"></div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
