<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <head th:replace="~{include/process-file-layout-head :: head}"></head>
</head>
<body class="bg-body-secondary container-fluid">
<header layout:fragment="header" class="fixed-header">
    <div th:replace="~{include/fixed-header-bo :: fixed-header-bo}">...</div>
</header>
<div layout:fragment="content"></div>
<div th:replace="~{include/scripts-bo :: script-bo}">...</div>
<div layout:fragment="javascripts">
</div>
</body>
</html>
