<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="bo/layout-bo">
<head>
    <title>DossierFacile</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container">
        <h2>Info propriété</h2>
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <td>Id</td>
                <td th:text="${property.id}"></td>
            </tr>
            <tr>
                <td>Date de création</td>
                <td th:text="${property.creationDateTime}"></td>
            </tr>
            <tr>
                <td>Nom</td>
                <td th:text="${property.name}"></td>
            </tr>
            <tr>
                <td>Adresse</td>
                <td th:text="${property.address}"></td>
            </tr>
            <tr>
                <td>Lien de candidature</td>
                <td>
                    <a th:href="${propertyLink}" th:text="${propertyLink}">
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div class="container">
        <h2>Liste des colocations ajoutées</h2>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Statuts</th>
                    <th>Liste des colocataires</th>
                    <th>Voir</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="as : ${property.propertiesApartmentSharing}">
                    <td th:utext="${as.id}"></td>
                    <td th:utext="${as.status}"></td>
                    <td>
                            <div th:each="tenant : ${as.tenants}">
                                <span th:text="${tenant.email}" />,
                                <span th:text="${tenant.status}" />
                            </div>
                    </td>
                    <td>
                        <a th:href="@{/bo/colocation/}+${as.id}" >
                            <span class="fa fa-eye"></span>
                        </a>
                    </td>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>
