<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{bo/layout-bo}">
<head>
    <title>DossierFacile</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">
    <style>
        .highlight {
           background-color: yellow;
           color: black;
       }
    </style>
    <div class="col-md-12">
        <div class="col-md-12" style="margin-bottom: 8px;">
            <div id="hideDiv" th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}" style="padding: 10px;margin-bottom: auto;border-radius: 8px; text-align:center;">
            </div>
        </div>

    </div>
    <div class="container">
        <div class="text-center margin-bottom">
            <span>Recherche de '<span id="search-text" th:text="${email}"></span>' </span>
            <span th:text="'Nombre de locataires trouvés: ' + ${tenants.totalElements}"></span>
        </div>
        <div class="clearfix"></div>
        <div class="table-responsive">
            <table th:object="${tenants}" id="userTable" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <td></td>
                    <td>Id</td>
                    <td>Creation date</td>
                    <td>First name</td>
                    <td>Last Name</td>
                    <td>Email</td>
                </tr>
                </thead>
                <tr th:each="tenant : ${tenants}">
                    <td><a class="btn btn-warning bo-btn" th:href="'/bo/tenant/'+${tenant.getId()}">
                        voir le compte
                    </a></td>
                    <td>
                        <span th:text="${tenant.getId()}"></span>
                    </td>
                    <td th:text="${#temporals.format(tenant.getCreationDateTime(), 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td class="to-highlight" th:text="${tenant.getFirstName()}"></td>
                    <td class="to-highlight" th:text="${tenant.getLastName()}"></td>
                    <td th:text="${tenant.getEmail()}"></td>
                </tr>
            </table>
        </div>
        <div th:replace="~{bo/fragments/pagination :: pagination (items=${tenants}, paramKey='email', paramValue=${email}, pageSizes=${pageSizes}, endpoint='/bo/searchTenant')}"></div>

    </div>
</div>
<div layout:fragment="javascripts" th:remove="tag">
    <script src="/js/bo/index.js"></script>
    <script src="/js/bo/search.js"></script>
</div>
</body>
</html>
