<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="bo/layout-bo">
<head>
    <title>DossierFacile</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div th:replace="bo/menu :: menu">...</div>
    <div class="container">
        <div class="row">
            <div class="table-responsive col-md-12">
                <h3>General</h3>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th style="min-width: 250px">Week</th>
                        <th>Total</th>
                        <th>Average actions by tenant</th>
                        <th>Avg time</th>
                        <th>Application validated actions (ratio)</th>
                        <th>Application denied by checking a box only (ratio)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="statistic : ${generalStatistic}"
                        th:with="key = ${new fr.gouv.common.model.KeyStatistics(statistic.getWeek(),statistic.getYear())}">
                        <td th:text="${key.transform()}"></td>
                        <td th:text="${statistic.getTotal()}"></td>
                        <td th:with="result=${statistic.getTotal()} / ${statistic.getTenant()}">
                            <span th:text="${#numbers.formatDecimal(result,1,2)}"></span>
                        </td>
                        <td th:text="${#numbers.formatDecimal(statistic.getAvg(),1,2)}"></td>
                        <td th:with="result=${statistic.getValid()} / ${statistic.getTotal()}">
                            <span th:text="${#numbers.formatDecimal(result,1,2)}"></span>
                        </td>
                        <td th:with="result=${statistic.getInvalid()} / ${statistic.getTotal()}">
                            <span th:text="${#numbers.formatDecimal(result,1,2)}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive col-md-12">
                <h3>CNI</h3>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th style="min-width: 250px">Week</th>
                        <th>Total</th>
                        <th>Average actions by tenant</th>
                        <th>Avg time</th>
                        <th>Application validated actions (ratio)</th>
                        <th>Application denied by checking a box only (ratio)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="statistic : ${file1Statistic}"
                        th:with="key = ${new fr.gouv.common.model.KeyStatistics(statistic.getWeek(),statistic.getYear())}">
                        <td th:text="${key.transform()}"></td>
                        <td th:text="${statistic.getTotal()}"></td>
                        <td th:with="result=${statistic.getTotal()} / ${statistic.getTenant()}">
                            <span th:text="${#numbers.formatDecimal(result,1,2)}"></span>
                        </td>
                        <td th:text="${#numbers.formatDecimal(statistic.getAvg(),1,2)}"></td>
                        <td th:with="result=${statistic.getValid()} / ${statistic.getTotal()}">
                            <span th:text="${#numbers.formatDecimal(result,1,2)}"></span>
                        </td>
                        <td th:with="result=${statistic.getInvalid()} / ${statistic.getTotal()}">
                            <span th:text="${#numbers.formatDecimal(result,1,2)}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive col-md-12">
                <h3>Quittances</h3>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th style="min-width: 250px">Week</th>
                        <th>Total</th>
                        <th>Average actions by tenant</th>
                        <th>Avg time</th>
                        <th>Application validated actions (ratio)</th>
                        <th>Application denied by checking a box only (ratio)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="statistic : ${file2Statistic}"
                        th:with="key = ${new fr.gouv.common.model.KeyStatistics(statistic.getWeek(),statistic.getYear())}">
                        <td th:text="${key.transform()}"></td>
                        <td th:text="${statistic.getTotal()}"></td>
                        <td th:with="result=${statistic.getTotal()} / ${statistic.getTenant()}">
                            <span th:text="${#numbers.formatDecimal(result,1,2)}"></span>
                        </td>
                        <td th:text="${#numbers.formatDecimal(statistic.getAvg(),1,2)}"></td>
                        <td th:with="result=${statistic.getValid()} / ${statistic.getTotal()}">
                            <span th:text="${#numbers.formatDecimal(result,1,2)}"></span>
                        </td>
                        <td th:with="result=${statistic.getInvalid()} / ${statistic.getTotal()}">
                            <span th:text="${#numbers.formatDecimal(result,1,2)}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive col-md-12">
                <h3>Contrat de travail</h3>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th style="min-width: 250px">Week</th>
                        <th>Total</th>
                        <th>Average actions by tenant</th>
                        <th>Avg time</th>
                        <th>Application validated actions (ratio)</th>
                        <th>Application denied by checking a box only (ratio)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="statistic : ${file3Statistic}"
                        th:with="key = ${new fr.gouv.common.model.KeyStatistics(statistic.getWeek(),statistic.getYear())}">
                        <td th:text="${key.transform()}"></td>
                        <td th:text="${statistic.getTotal()}"></td>
                        <td th:with="result=${statistic.getTotal()} / ${statistic.getTenant()}">
                            <span th:text="${#numbers.formatDecimal(result,1,2)}"></span>
                        </td>
                        <td th:text="${#numbers.formatDecimal(statistic.getAvg(),1,2)}"></td>
                        <td th:with="result=${statistic.getValid()} / ${statistic.getTotal()}">
                            <span th:text="${#numbers.formatDecimal(result,1,2)}"></span>
                        </td>
                        <td th:with="result=${statistic.getInvalid()} / ${statistic.getTotal()}">
                            <span th:text="${#numbers.formatDecimal(result,1,2)}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive col-md-12">
                <h3>Impots</h3>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th style="min-width: 250px">Week</th>
                        <th>Total</th>
                        <th>Average actions by tenant</th>
                        <th>Avg time</th>
                        <th>Application validated actions (ratio)</th>
                        <th>Application denied by checking a box only (ratio)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="statistic : ${file4Statistic}"
                        th:with="key = ${new fr.gouv.common.model.KeyStatistics(statistic.getWeek(),statistic.getYear())}">
                        <td th:text="${key.transform()}"></td>
                        <td th:text="${statistic.getTotal()}"></td>
                        <td th:with="result=${statistic.getTotal()} / ${statistic.getTenant()}">
                            <span th:text="${#numbers.formatDecimal(result,1,2)}"></span>
                        </td>
                        <td th:text="${#numbers.formatDecimal(statistic.getAvg(),1,2)}"></td>
                        <td th:with="result=${statistic.getValid()} / ${statistic.getTotal()}">
                            <span th:text="${#numbers.formatDecimal(result,1,2)}"></span>
                        </td>
                        <td th:with="result=${statistic.getInvalid()} / ${statistic.getTotal()}">
                            <span th:text="${#numbers.formatDecimal(result,1,2)}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive col-md-12">
                <h3>Fiches de paie</h3>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th style="min-width: 250px">Week</th>
                        <th>Total</th>
                        <th>Average actions by tenant</th>
                        <th>Avg time</th>
                        <th>Application validated actions (ratio)</th>
                        <th>Application denied by checking a box only (ratio)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="statistic : ${file5Statistic}"
                        th:with="key = ${new fr.gouv.common.model.KeyStatistics(statistic.getWeek(),statistic.getYear())}">
                        <td th:text="${key.transform()}"></td>
                        <td th:text="${statistic.getTotal()}"></td>
                        <td th:with="result=${statistic.getTotal()} / ${statistic.getTenant()}">
                            <span th:text="${#numbers.formatDecimal(result,1,2)}"></span>
                        </td>
                        <td th:text="${#numbers.formatDecimal(statistic.getAvg(),1,2)}"></td>
                        <td th:with="result=${statistic.getValid()} / ${statistic.getTotal()}">
                            <span th:text="${#numbers.formatDecimal(result,1,2)}"></span>
                        </td>
                        <td th:with="result=${statistic.getInvalid()} / ${statistic.getTotal()}">
                            <span th:text="${#numbers.formatDecimal(result,1,2)}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="table-responsive col-md-12">
                <table class="table table-striped table-bordered table-hover">
                    <colgroup>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th rowspan="2"></th>
                        <th colspan="3">chômage contrat travail (file3)</th>
                    </tr>
                    <tr>
                        <th>nb tests</th>
                        <th>taux erreurs</th>
                        <th>tx erreurs critiques</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="statistic : ${logFileTestResultStatistics.get(10)}">
                        <td th:text="${statistic.get(1)}"></td>
                        <td th:text="${statistic.get(5)}"></td>
                        <td th:text="${statistic.get(3)}"></td>
                        <td th:text="${statistic.get(4)}"></td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-striped table-bordered table-hover">
                    <colgroup>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th rowspan="2"></th>
                        <th colspan="3">chômage bulletins de paie (file5)</th>
                    </tr>
                    <tr>
                        <th>nb tests</th>
                        <th>taux erreurs</th>
                        <th>tx erreurs critiques</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="statistic : ${logFileTestResultStatistics.get(12)}">
                        <td th:text="${statistic.get(1)}"></td>
                        <td th:text="${statistic.get(5)}"></td>
                        <td th:text="${statistic.get(3)}"></td>
                        <td th:text="${statistic.get(4)}"></td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-striped table-bordered table-hover">
                    <colgroup>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th rowspan="2"></th>
                        <th colspan="3">visale (file 4)</th>
                    </tr>
                    <tr>
                        <th>nb tests</th>
                        <th>taux erreurs</th>
                        <th>tx erreurs critiques</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="statistic : ${logFileTestResultStatistics.get(3)}">
                        <td th:text="${statistic.get(1)}"></td>
                        <td th:text="${statistic.get(5)}"></td>
                        <td th:text="${statistic.get(3)}"></td>
                        <td th:text="${statistic.get(4)}"></td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-striped table-bordered table-hover">
                    <colgroup>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th rowspan="2"></th>
                        <th colspan="3">ctt contrat travail (file3)</th>
                    </tr>
                    <tr>
                        <th>nb tests</th>
                        <th>taux erreurs</th>
                        <th>tx erreurs critiques</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="statistic : ${logFileTestResultStatistics.get(2)}">
                        <td th:text="${statistic.get(1)}"></td>
                        <td th:text="${statistic.get(5)}"></td>
                        <td th:text="${statistic.get(3)}"></td>
                        <td th:text="${statistic.get(4)}"></td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-striped table-bordered table-hover">
                    <colgroup>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th rowspan="2"></th>
                        <th colspan="3">ctt bulletins de paie (file 5)</th>
                    </tr>
                    <tr>
                        <th>nb tests</th>
                        <th>taux erreurs</th>
                        <th>tx erreurs critiques</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="statistic : ${logFileTestResultStatistics.get(11)}">
                        <td th:text="${statistic.get(1)}"></td>
                        <td th:text="${statistic.get(5)}"></td>
                        <td th:text="${statistic.get(3)}"></td>
                        <td th:text="${statistic.get(4)}"></td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-striped table-bordered table-hover">
                    <colgroup>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th rowspan="2"></th>
                        <th colspan="3">quittances loctaire (file Guarantor 5)</th>
                    </tr>
                    <tr>
                        <th>nb tests</th>
                        <th>taux erreurs</th>
                        <th>tx erreurs critiques</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="statistic : ${logFileTestResultStatistics.get(9)}">
                        <td th:text="${statistic.get(1)}"></td>
                        <td th:text="${statistic.get(5)}"></td>
                        <td th:text="${statistic.get(3)}"></td>
                        <td th:text="${statistic.get(4)}"></td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-striped table-bordered table-hover">
                    <colgroup>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th rowspan="2"></th>
                        <th colspan="3">taxe foncière garant (file Guarantor 2)</th>
                    </tr>
                    <tr>
                        <th>nb tests</th>
                        <th>taux erreurs</th>
                        <th>tx erreurs critiques</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="statistic : ${logFileTestResultStatistics.get(6)}">
                        <td th:text="${statistic.get(1)}"></td>
                        <td th:text="${statistic.get(5)}"></td>
                        <td th:text="${statistic.get(3)}"></td>
                        <td th:text="${statistic.get(4)}"></td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-striped table-bordered table-hover">
                    <colgroup>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th rowspan="2"></th>
                        <th colspan="3">bulletins de paie loctaire (file5)</th>
                    </tr>
                    <tr>
                        <th>nb tests</th>
                        <th>taux erreurs</th>
                        <th>tx erreurs critiques</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="statistic : ${logFileTestResultStatistics.get(4)}">
                        <td th:text="${statistic.get(1)}"></td>
                        <td th:text="${statistic.get(5)}"></td>
                        <td th:text="${statistic.get(3)}"></td>
                        <td th:text="${statistic.get(4)}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
</body>
</html>
