<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{bo/layout-bo}">
<head>
    <title>DossierFacile</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div th:replace="~{bo/menu :: menu}">...</div>
    <div class="container">
        <div class="table-responsive">
            <table id="userTable" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <td>Init Date</td>
                    <td>End Date</td>
                    <td>Interval (sec)</td>
                    <td>Tenant</td>
                    <td>Operator</td>
                </tr>
                </thead>
                <tr th:each="timeServeTenant : ${timeServeTenantList}">
                    <td th:text="${#temporals.format(timeServeTenant.getInitDate(), 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${timeServeTenant.getEndDate()}!=null?${#temporals.format(timeServeTenant.getEndDate(), 'yyyy-MM-dd HH:mm:ss')}:''"></td>
                    <td th:text="${timeServeTenant.differenceSeconds()}"></td>
                    <td th:text="${timeServeTenant.getTenantName()}"></td>
                    <td th:text="${timeServeTenant.getOperatorName()}"></td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="mb-3 col-md-1">
                <select class="form-select form-control pagination pageSizeSelect" data-url="/bo/timeServeTenant">
                    <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"
                            th:selected="${pageSize} == ${selectedPageSize}"></option>
                </select>
            </div>
            <div th:if="${timeServeTenantList.totalPages > 1}" class="mb-3 col-md-11 pagination-centered">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${timeServeTenantList.number == 0} ? disabled">
                        <a class="page-link" th:href="@{/bo/timeServeTenant(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
                    </li>
                    <li class="page-item" th:classappend="${timeServeTenantList.number == 0} ? disabled">
                        <a class="page-link"
                           th:href="@{/bo/timeServeTenant(pageSize=${selectedPageSize}, page=${timeServeTenantList.number})}">&larr;</a>
                    </li>
                    <li class="page-item" th:classappend="${timeServeTenantList.number == (page - 1)} ? 'active pointer-disabled'"
                        th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                        <a class="page-link" th:href="@{/bo/timeServeTenant(pageSize=${selectedPageSize}, page=${page})}"
                           th:text="${page}"></a>
                    </li>
                    <li class="page-item" th:classappend="${timeServeTenantList.number + 1 == timeServeTenantList.totalPages} ? disabled">
                        <a class="page-link"
                           th:href="@{/bo/timeServeTenant(pageSize=${selectedPageSize}, page=${timeServeTenantList.number + 2})}">&rarr;</a>
                    </li>
                    <li class="page-item" th:classappend="${timeServeTenantList.number + 1 == timeServeTenantList.totalPages} ? disabled">
                        <a class="page-link"
                           th:href="@{/bo/timeServeTenant(pageSize=${selectedPageSize}, page=${timeServeTenantList.totalPages})}">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
