<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="bo/layout-bo">
<head>
    <title>DossierFacile</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div>
        <div class="container">
            <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                <span th:text="${errorMessage}"></span>
            </div>
            <div class="text-center margin-bottom">
                <span th:text="'Enter the tenants Id : '"></span>
            </div>
            <div class="clearfix"></div>
            <div class="table-responsive">
                <form class="form" th:action="@{/bo/tools/regenerateStatusOfTenants}" th:method="post">
                    <div style="text-align: -webkit-center;">
                        <input type="text" autocomplete="true" name="tenantList" placeholder="Id: 2, 51, 8, ..." style="width: 50%"/>
                    </div>

                    <div class="text-center medium-space-separator">
                        <button name="action" type="submit" class="btn btn-default btn-responsive subtitle1">
                            Regenerate Tenants Status
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="javascripts" th:remove="tag">
    <script src="/js/bo/index.js"></script>
</div>
</body>
</html>
