<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{bo/layout-bo}">
<head>
    <title>DossierFacile</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <br/><br/>
    <div class="container">
        <div class="medium-space-separator">
            <div th:replace="~{bo/fragments/user-api-form}">
            </div>
            <hr/>
            <div th:if="${kcClient}">
                <div>Client Secret: <span th:text="${kcClient.secret}"></span></div>
                <div>
                    Redirections autorisées:
                    <ul>
                        <li th:each="redirectUrl : ${kcClient.redirectUris}">
                            <span th:text="${redirectUrl}"></span>
                        </li>
                    </ul>
                </div>
                <hr/>
                <form style="margin-top: 8px;" th:action="@{/bo/userApi/{id}/send(id=${userApi.id})}" method="post" >
                    <input id="partnerEmail" name="partnerEmail"
                           style="border-radius: 3px; padding-left: 5px !important; padding-right: 5px; width: 26%"/>
                    <button name="action" type="submit" class="btn btn-default btn-responsive subtitle1">
                        Envoyer l'email
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>

