<!DOCTYPE html>
<html lang="en"
      layout:decorator="registerTenant/layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DossierFacile</title>
</head>
<body>
<div layout:fragment="sidebar" th:remove="tag">
    <div th:replace="registerTenant/sidebar :: sidebar(step = 'INFORMATIONS', currentStep = ${currentStep}, fileDTO = null, slug = ${tenantDTO != null ? tenantDTO.getSlug() : ''})">
    </div>
</div>
<div layout:fragment="content" th:remove="tag">
    <link href="/css/register-tenant/step3.css" rel="stylesheet"/>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5">
                    <h3> Je choisis le mode de location qui me convient </h3>
                    <h5 class="text-lead-color"> Un service pour tous ! Que vous soyez seul, à deux ou à
                        plus : Créez votre dossier commun ! </h5>

                    <form method="post"
                          onsubmit="return validate_form()"
                          th:action="@{/registerTenant/step3/} + ${tenantsCreationDTO.getTenants().get(0).getSlug()}"
                          th:object="${tenantsCreationDTO}">
                        <div class="row">
                            <div class="col-md-4 col-xl-4">
                                <div class="input-radio text-center"
                                     th:if="${tenants == null or (tenants != null and tenants.size() == 1)}">
                                    <span class="input__label">Je loue seul</span>
                                    <input data-id="ALONE" id="radioAlone"
                                           th:field="*{tenants[0].tenantType}" type="radio" value="ALONE"/>
                                    <label></label>
                                </div>

                                <div class="input-radio text-center"
                                     th:if="${tenants != null and tenants.size() > 1}">
                                    <span class="input__label">Je loue seul</span>
                                    <input data-id="ALONE" disabled="disabled"
                                           th:field="*{tenants[0].tenantType}" type="radio" value="ALONE"/>
                                    <label></label>
                                </div>
                            </div>

                            <div class="col-md-4 col-xl-4">
                                <div class="input-radio text-center">
                                    <span class="input__label">Je loue en colocation</span>
                                    <input data-id="CREATE" id="radioCreate"
                                           th:default="${tenants!=null and tenants.size() > 1}"
                                           th:field="*{tenants[0].tenantType}" type="radio"
                                           value="CREATE"/>
                                    <label for="radioCreate"></label>
                                </div>
                            </div>

                            <div class="col-md-4 col-xl-4">
                                <div class="input-radio text-center">
                                    <span class="input__label">Je loue en couple</span>
                                    <input data-id="COUPLE" id="radioCouple"
                                           th:field="*{tenants[0].tenantType}" type="radio" value="COUPLE"/>
                                    <label for="radioCouple"></label>
                                </div>
                            </div>
                        </div>
                        <div id="list-tenants">
                            <div id="data-tenant-exist">

                                <div class="pt-4"
                                     th:if="${tenants!=null and tenants.size() > 1}">
                                    <div class="modal-instance">
                                        <a class="btn btn--icon px-3 btn-orange mr-4 modal-trigger" href="#">
                                            <span class="btn__text pl-5 text-white">
                                                <i class="icon-Remove-User text-white"></i> Supprimer
                                            </span>
                                        </a>

                                        <div class="modal-container">
                                            <div class="modal-content text-center" data-width="80%">
                                                <div class="boxed boxed--lg">

                                                    <p class="my-5 lead text-dark">
                                                        Vous avez validé l’adresse mail de votre colocataire et
                                                        cette
                                                        action est irréversible.
                                                    </p>

                                                    <p class="my-5 lead text-dark">
                                                        Vous vous êtes trompé dans l’adresse de votre
                                                        colocataire ?
                                                        Vous
                                                        voulez louer seul et non en
                                                        colocation ? Pas de panique : recommencez votre
                                                        inscription
                                                        en
                                                        supprimant votre compte grâce au
                                                        bouton ci-dessous !
                                                    </p>

                                                    <div class="d-flex justify-content-center">
                                                        <a class="btn btn--primary w-25 mx-5 modal-trigger"
                                                           data-modal-id="confirm-delete" href="#">
                                                            <span class="btn__text"> Supprimer compte </span>
                                                        </a>

                                                        <a class="btn btn--primary w-25 mx-5 modal-close"
                                                           href="#">
                                                            <span class="btn__text"> Fermer </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="modal-close modal-close-cross"></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row" th:each="tenant: ${tenants}"
                                     th:if="${(tenantPrincipal.getId() != tenant.getId())}">

                                    <div class="col-md-12">
                                        <span> Prénom de votre colocataire : </span>
                                        <input autocomplete="true" class="small validate-required"
                                               disabled="disabled" placeholder="Ex : Jean-Michel"
                                               th:value="${tenant.getFirstName()}" type="text"/>
                                    </div>

                                    <div class="col-md-12">
                                        <span class="font"> Nom de votre colocataire : </span>
                                        <input autocomplete="true" class="small validate-required"
                                               disabled="disabled" placeholder="Ex : Dupont"
                                               th:value="${tenant.getLastName()}" type="text"/>
                                    </div>

                                    <div class="col-md-12">
                                        <span> Email de votre colocataire : </span>
                                        <input autocomplete="off" class="small validate-required"
                                               disabled="disabled"
                                               placeholder="Ex : Jean-Michel@exemple.fr"
                                               th:value="${tenant.getEmail()}" type="email"/>
                                    </div>

                                    <div class="col-md-12">
                                        <span class="font"> Salaire net mensuel de votre colocataire : </span>
                                        <input autocomplete="true" class="small validate-required"
                                               disabled="disabled" placeholder="Ex : 1000&euro;"
                                               th:value="${tenant.getTotalSalary()}" type="number"/>
                                    </div>

                                </div>

                            </div>

                            <div class="" id="data-join-tenant">
                            </div>

                            <div class="row" id="data-join-tenant-buttons">
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                        <span class="color--error" th:errors="*{tenants}"
                                              th:if="${#fields.hasErrors('tenants')}">
                                        </span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12"></div>
                            <div class="col-md-12 text-left" id="errors">
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn--sm btn--secondary type--uppercase mt-0 px-3"
                                        onclick="history.back()"
                                        type="button">précédent
                                </button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn--primary text-uppercase"
                                        th:text="#{tenant.form.button.next}"
                                        type="submit">
                                </button>
                            </div>


                        </div>

                    </form>
                    <div th:replace="include/modal-api:: modal-api">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal-instance">
        <div class="modal-container" data-modal-id="confirm-delete">
            <div class="modal-content text-center" data-width="80%">
                <div class="boxed boxed--lg">
                    <h2>Êtes-vous sûr(e) de vouloir supprimer votre compte ?</h2>

                    <div class="d-flex justify-content-center pt-4 mt-5">
                        <div class="w-25 mx-5 my-auto">
                            <form th:action="@{/registerTenant/delete/} + ${tenantsCreationDTO.getTenants().get(0).getSlug()}"
                                  th:method="post">
                                <button class="btn btn--primary w-100 mt-0" type="submit">
                                    <span class="btn__text"> Oui </span>
                                </button>
                            </form>
                        </div>

                        <button class="btn btn--primary w-25 mx-5 my-auto modal-close" href="#">
                            <span class="btn__text"> Non </span>
                        </button>
                    </div>
                </div>
                <div class="modal-close modal-close-cross"></div>
            </div>
        </div>
    </div>

    <div th:replace="include/register-tenant-help :: register-tenant-help"></div>

    <div th:replace="include/modal-account:: modal-account">
    </div>
</div>

<div layout:fragment="javascripts" th:remove="tag">
    <script src="/js/registerTenant/step3.js"></script>
    <script src="/js/registerTenant/registerTenant.js"></script>
</div>

</body>
</html>
