<!DOCTYPE html>
<html lang="en"
      layout:decorator="registerTenant/layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DossierFacile</title>
</head>
<body>
<div layout:fragment="sidebar" th:remove="tag">
    <div th:replace="registerTenant/sidebar :: sidebar(step = 'FICHESDEPAIE', currentStep = ${currentStep}, fileDTO = null, slug = ${tenantDTO.getSlug()})">
    </div>
</div>
<div layout:fragment="content" th:remove="tag">
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5">
                    <h3> Ma pension </h3>
                    <h5 class="text-lead-color">
                        Rassurez votre propriétaire, indiquez-lui le montant de la pension que vous percevez. Ce
                        faisant, vous attestez sur l’honneur la véracité de cette information </h5>

                    <form method="post"
                          onsubmit="return validate_form()"
                          th:action="@{/registerTenant/step5File51/} + ${tenantDTO.getSlug()}" th:object="${tenantDTO}">
                        <div class="row">
                            <div class="col-md-12">
                                <span class="font"> Montant de la pension que vous percevez : </span>
                                <input autocomplete="true" class="small validate-required" placeholder="Ex : 1000&euro;"
                                       th:field="*{pensionNumber}" type="number"/>
                                <span class="color--error" th:errors="*{pensionNumber}"
                                      th:if="${#fields.hasErrors('pensionNumber')}"></span>
                            </div>

                            <div class="col-md-12 text-left" id="errors">
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn--sm btn--secondary type--uppercase mt-0 px-3"
                                        onclick="history.back()"
                                        type="button">précédent
                                </button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn--primary text-uppercase"
                                        th:text="#{tenant.form.button.next}"
                                        type="submit">
                                </button>
                            </div>
                        </div>
                    </form>
                    <div th:replace="include/modal-api:: modal-api">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:replace="include/register-tenant-help :: register-tenant-help"></div>

    <div th:replace="include/modal-account:: modal-account">
    </div>
</div>
<div layout:fragment="footer">
</div>
<div layout:fragment="javascripts" th:remove="tag">
    <script src="/js/registerTenant/registerTenant.js"></script>
</div>

</body>
</html>
