<!DOCTYPE html>
<html lang="en"
      layout:decorator="registerTenant/layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DossierFacile</title>
</head>
<body>
<div layout:fragment="sidebar" th:remove="tag">
    <div th:replace="registerTenant/sidebar :: sidebar(step = 'INFORMATIONS', currentStep = ${currentStep}, fileDTO = null, slug = ${tenantDTO.getSlug()})">
    </div>
</div>
<div layout:fragment="content" th:remove="tag">
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5">
                    <h3> Mes ressources </h3>
                    <h5 class="text-lead-color">
                        <span class="font-weight-bold"> Rassurez votre propriétaire, indiquez lui votre situation ! </span>
                        Ce résumé d’informations l’aidera à vous connaitre en un clin d’oeil </h5>

                    <form method="post"
                          onsubmit="return validate_form()"
                          th:action="@{/registerTenant/step4/} + ${tenantDTO.getSlug()}" th:object="${tenantDTO}">
                        <div class="row">
                            <div class="col-md-12">
                                <span class="font"> Revenu mensuel net du locataire (avant impôts) : </span>
                                <input autocomplete="true" class="small validate-required" placeholder="Ex : 1000&euro;"
                                       th:field="*{salary}" type="number"/>
                                <span class="color--error" th:errors="*{salary}"
                                      th:if="${#fields.hasErrors('salary')}"></span>
                            </div>

                            <div class="col-md-12 text-left" id="errors">
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn--sm btn--secondary type--uppercase mt-0 px-3"
                                        onclick="history.back()"
                                        type="button">précédent
                                </button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn--primary text-uppercase"
                                        th:text="#{tenant.form.button.next}"
                                        type="submit">
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="mt-4">
                        <p>
                            Evaluez vos droits aux APL en moins de 7 minutes grace à
                            <a _target="blank"
                               href="https://mes-aides.gouv.fr/?utm_source=Locatio">mes-aides-gouv.fr</a>
                        </p>
                    </div>
                    <div th:replace="include/modal-api:: modal-api">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:replace="include/register-tenant-help :: register-tenant-help"></div>

    <div th:replace="include/modal-account:: modal-account">
    </div>
</div>
<div layout:fragment="footer">
</div>
<div layout:fragment="javascripts" th:remove="tag">
    <script src="/js/registerTenant/registerTenant.js"></script>
</div>

</body>
</html>
