<!DOCTYPE html>
<html lang="en"
      layout:decorator="registerTenant/layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DossierFacile</title>
</head>
<body>
<div layout:fragment="sidebar" th:remove="tag">
    <div th:replace="registerTenant/sidebar :: sidebar(step = 'INFORMATIONS', currentStep = ${currentStep}, fileDTO = null, slug = ${tenantDTO.getSlug()})">
    </div>
</div>
<div layout:fragment="content" th:remove="tag">
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5">
                    <h3> Ma situation</h3>
                    <h5 class="text-lead-color">
                        <span class="font-weight-bold"> Rassurez votre propriétaire, indiquez lui votre situation ! </span>
                        Ce résumé d’informations l’aidera à vous connaitre en un clin d’oeil </h5>

                    <form method="post"
                          onsubmit="return validate_form()"
                          th:action="@{/registerTenant/step41/} + ${tenantDTO.getSlug()}" th:object="${tenantDTO}">
                        <div class="row">
                            <div class="col-md-12">
                                <span class="font"> Votre situation : </span>
                                <div class="input-select">
                                    <select class="small" id="tenantSituation" th:field="*{situation}">
                                        <option th:each="tenantSituation, iter: ${T(fr.gouv.common.enums.TenantSituation).values()}"
                                                th:text="#{${tenantSituation.getLabel()}}" th:value="${iter.index}">
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-12 text-left" id="errors">
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn--sm btn--secondary type--uppercase mt-0 px-3"
                                        onclick="history.back()"
                                        type="button">précédent
                                </button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn--primary text-uppercase"
                                        th:text="#{tenant.form.button.next}"
                                        type="submit">
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="mt-4">
                        <p>
                            Evaluez vos droits aux APL en moins de 7 minutes grace à
                            <a _target="blank"
                               href="https://mes-aides.gouv.fr/?utm_source=Locatio">mes-aides-gouv.fr</a>
                        </p>
                    </div>
                    <div th:replace="include/modal-api:: modal-api">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:replace="include/register-tenant-help :: register-tenant-help"></div>

    <div th:replace="include/modal-account:: modal-account">
    </div>

    <div class="modal-container" id="tenantSituationWarning">
        <div class="modal-content section-modal">
            <section class="unpad ">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-12">
                            <div class="feature feature-1">
                                <div class="feature__body boxed boxed--lg boxed--border text-center">
                                    <div class="modal-close modal-close-cross"></div>
                                    <div class="text-block">
                                        <!--                                        <h3>Je modifie mon document</h3>-->
                                        <div class="text-justify">
                                            <p>
                                                Attention, si vous effectuez les démarches pour votre enfant,
                                                veillez à ajouter ses pièces dans la section locataire et non
                                                les vôtres. Vous pourrez ajouter toutes vos pièces justificatives
                                                dans la section « garant » juste après ! <br/>
                                                Si vous êtes vous même étudiant, ne prenez en compte ce message<br/>
                                                Il ne vous reste plus qu’à cliquer :
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!--                                        <div class="col-md-6">-->
                                        <!--                                            <div class="btn btn&#45;&#45;primary btn-block modal-close file-modal mb-2"-->
                                        <!--                                                 data-id="1" data-action="ADD">-->
                                        <!--                                                <span class="btn__text">Ajouter un document</span>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                        <div class="col-md-12">
                                            <div class="btn btn--primary btn-block modal-close">
                                                <span class="btn__text">Je constitue mon dossier</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="modal-container modal-tenant-validated" data-autoshow="1" th:if="${notification}">
        <div class="modal-content text-center">
            <div class="boxed boxed--lg">
                <p class="lead">
                    <span>Votre colocataire a reçu un email l’invitant à se créer un compte Locatio. Pour des questions de RGPD, il n’y a que lui qui peut compléter son dossier.</span>
                </p>
                <p class="lead">
                    <span>PS : l’email peut être considéré comme indésirable, dîtes-lui de regarder sa boite spam! </span>
                </p>
                <div class="btn btn--primary modal-close">
                    <span class="btn__text text-uppercase">continuer</span>
                </div>
            </div>
            <div class="modal-close modal-close-cross"></div>
        </div>
    </div>
</div>
<div layout:fragment="javascripts" th:remove="tag">
    <script src="/js/registerTenant/step41.js"></script>
    <script src="/js/registerTenant/registerTenant.js"></script>
</div>

</body>
</html>
