<!DOCTYPE html>
<html lang="en"
      layout:decorator="registerTenant/layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DossierFacile</title>
</head>
<body>
<div layout:fragment="sidebar" th:remove="tag">
    <div th:replace="registerTenant/sidebar :: sidebar(step = 'DOMICILE', currentStep = ${currentStep}, fileDTO = null, slug = ${tenantDTO != null ? tenantDTO.getSlug() : ''})">
    </div>
</div>
<div layout:fragment="content" th:remove="tag">
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5">
                    <h3> Êtes-vous… </h3>
                    <form method="post"
                          onsubmit="return validate_form()"
                          th:action="@{/registerTenant/step5File2/} + ${tenantDTO.getSlug()}" th:object="${tenantDTO}">
                        <div class="row">
                            <div class="col-md-4 col-xl-4">
                                <div class="input-radio text-center">
                                    <input id="radioType1" th:field="*{typeFile2}"
                                           type="radio" value="TYPE1"/>
                                    <label for="radioType1"></label>
                                    <span class="input__label">Locataire ?</span>
                                </div>
                            </div>

                            <div class="col-md-4 col-xl-4">
                                <div class="input-radio text-center">
                                    <input id="radioType2" th:field="*{typeFile2}"
                                           type="radio" value="TYPE2"/>
                                    <label for="radioType2"></label>
                                    <span class="input__label">Propriétaire ?</span>
                                </div>
                            </div>

                            <div class="col-md-4 col-xl-4">
                                <div class="input-radio text-center">
                                    <input id="radioType3" th:field="*{typeFile2}"
                                           type="radio" value="TYPE3"/>
                                    <label for="radioType3"></label>
                                    <span class="input__label">Hébergé gratuitement (chez vos parents par exemple) ?</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <button class="btn btn--sm btn--secondary type--uppercase mt-0 px-3"
                                        onclick="history.back()"
                                        type="button">précédent
                                </button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn--primary text-uppercase"
                                        th:text="#{tenant.form.button.next}"
                                        type="submit">
                                </button>
                            </div>


                        </div>

                    </form>
                    <div th:replace="include/modal-api:: modal-api">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:replace="include/register-tenant-help :: register-tenant-help"></div>

    <div th:replace="include/modal-account:: modal-account">
    </div>
</div>
<div layout:fragment="javascripts" th:remove="tag">
    <script src="/js/registerTenant/registerTenant.js"></script>
</div>

</body>
</html>
