<!DOCTYPE html>
<html lang="en"
      layout:decorator="layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DossierFacile</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">
    <section class="text-center py-5">
        <div class="col-lg-12 col-md-12">
            <div class="container">
                <div class="row">
                    <div class="pb-5 col-lg-8 col-md-10">
                        <h3> Nous allons plus loin pour vous aider ! </h3>
                    </div>
                </div>
                <div class="text-left row">
                    <div class="col-md-4">
                        <div class="feature feature-2 boxed boxed--border bg--white"><i
                                class="icon color--primary icon-Box-Open"></i>
                            <div class="feature__body">
                                <p> Vous avez déjà trouvé votre prochain appartement ? DossierFacile vous aide à
                                    déménager
                                    tous vos contrats en quelques clics ! </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature feature-2 boxed boxed--border bg--white">
                            <i class="color--primary material-icons" style="font-size: 36px">help_outline</i>
                            <div class="feature__body">
                                <p> On sait bien qu’une fois que vous avez trouvé le logement de vos rêves, la galère
                                    n’est pas tout à fait finie puisqu’il vous faut encore résilier tous vos contrats,
                                    comparer les prix, en souscrire de nouveaux … On a décidé de vous aider en mettant
                                    en place une procédure simple et 100% en ligne. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature feature-2 boxed boxed--border bg--white"><i
                                class="icon color--primary icon-Printer"></i>
                            <div class="feature__body">
                                <p> Non seulement notre service est gratuit, mais il vous aide même à économiser de
                                    l’argent sur vos factures !</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="mt-5 col-lg-8 col-md-10">
                        <a class="btn btn--primary type--uppercase"
                           th:href="@{/contract-migration/enconstruction/} + ${slug}">
                            <span class="btn__text"> Mes nouveaux contrats en un clic ! </span>
                        </a>
                        <p class="mt-5">
                            Vous ne souhaitez plus bénéficier de ce service ? Vous pouvez supprimer votre compte et
                            toutes vos données
                        </p>
                        <h5><a class="text-primary" th:href="@{/contract-migration/delete-account/} + ${slug}">
                            Je n’ai plus besoin de mon compte
                        </a></h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
