<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <base href="/"/>
    <title>DossierFacile</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet"/>

    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <link rel="icon" type="image/png" href="/assets/images/favicons/android-chrome-192x192.png"/>
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body>

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>OOOPS</h1>
        </div>
        <h2>Vous ne passerez pas par ici</h2>
        <p>Pour retrouver le droit chemin passez par là</p>
        <a href="/">
            <button class="btn btn-primary w-auto px-5" type="submit">
                Retour au site
            </button>
        </a>
    </div>
</div>

</body>

</html>