<!DOCTYPE html>
<html lang="en"
      layout:decorator="registerTenant/layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DossierFacile</title>
</head>
<body>
<div layout:fragment="sidebar" th:remove="tag">
    <div th:replace="registerTenant/sidebar :: sidebar(step = 'RGPD', currentStep = ${currentStep}, fileDTO = ${fileDTO}, slug = ${tenantDTO.getSlug()})">
    </div>
</div>
<div layout:fragment="content" th:remove="tag">
    <section class="register-guarantor">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5">
                    <h3 class="register-guarantor-title"> Veuillez lire et cocher les cases suivantes pour finaliser
                        votre dossier </h3>


                    <form id="formLocataire"
                          method="post" onsubmit="return validate_form()"
                          th:action="@{/registerTenant/step9/} + ${tenantDTO.getSlug()}"
                          th:object="${tenantDTO}">
                        <div class="row">
                            <div class="col-md-12 d-flex align-items-start">
                                <div class="input-checkbox mr-3">
                                    <input class="form-check-input hidden" id="declarationHonor"
                                           th:field="*{declarationHonor}"
                                           type="checkbox"/>
                                    <!-- This one below is for showing when it's marked because it doesn't work with th:field.
                                    Sorry for hard solution. -->
                                    <input class="checked-required" id="declarationHonorUtility"
                                           type="checkbox"/>
                                    <label class="input-label" for="declarationHonor"></label>
                                </div>
                                <div>
                                        <span>
                                            Je déclare avoir pris connaissance de l'article 441-1 du
                                            code pénal qui punit le faux et l'usage de faux de trois ans d'emprisonnement et de
                                            45000 euros d'amende
                                        </span>
                                </div>
                            </div>

                            <span class="color--error col-md-12" th:errors="*{declarationHonor}"
                                  th:if="${#fields.hasErrors('declarationHonor')}"></span>

                            <div class="col-md-12 d-flex align-items-start" th:if="${tenantColocsNamesList!=null}">

                                <div class="input-checkbox mr-3">
                                    <input class="form-check-input hidden" id="declarationHonorColoc"
                                           th:field="*{declarationHonorColocs}"
                                           type="checkbox"/>
                                    <!-- This one below is for showing when it's marked because it doesn't work with th:field.
                                    Sorry for hard solution. -->
                                    <input class="checked-required" id="declarationHonorColocUtility"
                                           type="checkbox"/>
                                    <label class="input-label" for="declarationHonorColoc"></label>
                                </div>
                                <div> J'accepte que les autres membres de la colocation de <span
                                        th:text="${tenantDTO.getFirstName()+' '+tenantDTO.getLastName()}"></span>
                                    aient
                                    accès à mes documents ainsi qu'à ceux de mon garant le cas échéant une fois
                                    que tous
                                    les dossiers de la colocation auront été validés
                                </div>
                            </div>

                            <div class="col-md-12 color--error"
                                 th:errors="*{declarationHonorColocs}"
                                 th:if="${#fields.hasErrors('declarationHonorColocs')}"></div>

                            <div class="col-md-12 text-left" id="errors">
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn--sm btn--secondary type--uppercase mt-0 px-3"
                                        onclick="history.back()"
                                        type="button">précédent
                                </button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn--primary text-uppercase"
                                        th:text="#{tenant.form.button.next}"
                                        type="submit">
                                </button>
                            </div>

                        </div>
                    </form>
                    <div th:replace="include/modal-api:: modal-api">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div th:replace="include/register-tenant-help :: register-tenant-help"></div>

    <div th:replace="include/modal-account:: modal-account">
    </div>
</div>

<div layout:fragment="javascripts" th:remove="tag">
    <script src="/js/registerTenant/step9.js"></script>
    <script src="/js/registerTenant/registerTenant.js"></script>
</div>
</body>
</html>
