<!DOCTYPE html>
<html lang="en"
      layout:decorator="registerTenant/layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DossierFacile</title>
</head>
<body>
<div layout:fragment="sidebar" th:remove="tag">
    <div th:replace="registerTenant/sidebar :: sidebar(step = 'INFORMATIONS', currentStep = ${currentStep}, fileDTO = null, slug = '')"></div>
</div>
<div layout:fragment="content" th:remove="tag">
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5">
                    <h3> Constituez votre dossier : seules les pièces autorisées par la loi vous sont
                        demandées </h3>
                    <h5 class="text-lead-color"> Notre objectif ? Vous faciliter la vie ! On vous aide à mettre
                        toutes les chances de votre côté...tout en protégeant vos données ! </h5>
                    <h5 class="text-lead-color">Si vous avez déja un compte, connectez vous directement </h5>
                    <a href="/faq#quelles_pieces_sont_demandees_aux_locataires" target="_blank">Quelles pièces sont
                        demandées aux locataires ?</a>
                    <form onsubmit="return validate_form()" th:action="@{/registerTenant/step1}"
                          th:method="post" th:object="${tenantDTO}">
                        <div class="row">
                            <div class="col-md-12 text-left">
                                <span> Prénom du locataire : </span>
                                <input autocomplete="true" class="small validate-required" id="firstName"
                                       placeholder="Ex : Jean-Michel"
                                       th:field="*{firstName}" type="text"/>
                                <span class="color--error" th:errors="*{firstName}"
                                      th:if="${#fields.hasErrors('firstName')}"></span>
                            </div>

                            <div class="col-md-12 text-left">
                                <span class="font"> Nom du locataire : </span>
                                <input autocomplete="true" class="small validate-required" id="lastName"
                                       placeholder="Ex : Dupont"
                                       th:field="*{lastName}" type="text"/>
                                <span class="color--error" th:errors="*{lastName}"
                                      th:if="${#fields.hasErrors('lastName')}"></span>
                            </div>
                            <div class="col-md-12 text-left">
                                <div class="g-recaptcha col-sm-5"
                                     th:attr="data-sitekey=${@captchaSettings.getSite()}"></div>
                                <!--<span id="captchaError" class="alert alert-danger col-sm-4"
                                      style="display:none"></span>-->
                                <span class="color--error"
                                      th:each="error: ${#fields.errors('reCaptchaResponse')}"
                                      th:text="${error}">Validation error</span>
                            </div>
                            <div class="col-md-12 d-flex align-items-start" th:if="${userApi}">
                                <div class="input-checkbox mr-3" id="checkboxAcceptVerification">
                                    <input class="form-check-input hidden" id="acceptSharingInfoPartner"
                                           th:field="*{acceptSharingInfoPartner}"
                                           type="checkbox"/>
                                    <!-- This one below is for showing when it's marked because it doesn't work with th:field.
                                    Sorry for hard solution. -->
                                    <input id="acceptSharingInfoPartnerUtility" type="checkbox"/>
                                    <label class="input-label" for="acceptSharingInfoPartner"></label>
                                </div>
                                <div>
                                    <span> J’accepte que DossierFacile communique mes données à </span> <span
                                        th:text="${userApi.getName2()==null?userApi.getName():userApi.getName2()}"></span>
                                </div>
                            </div>
                            <div class="col-12 text-left" id="errors">
                            </div>

                            <div class="col-md-3">
                                <button class="btn btn--primary text-uppercase"
                                        th:text="#{tenant.form.button.next}"
                                        type="submit">
                                </button>
                            </div>
                            <div class="col-md-6">
                                <a class="btn btn--sm btn--primary type--uppercase bg-orange border-orange"
                                   href="/login"> <span
                                        class="btn__text">
                                                 j'ai déjà un compte</span>
                                </a>
                            </div>
                        </div>
                        <!--end row-->
                    </form>
                    <div th:replace="include/modal-api:: modal-api">
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <div th:replace="include/modal-account:: modal-account">
    </div>

    <div th:if="${showModal}">
        <div class="modal-container" data-autoshow="1">
            <div class="modal-content">
                <section class="unpad ">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-8 col-12">
                                <div class="feature feature-1">
                                    <div class="feature__body boxed boxed--lg boxed--border text-center">
                                        <div class="modal-close modal-close-cross"></div>
                                        <div class="text-block">
                                            <h3>Bienvenue sur DossierFacile !</h3>
                                            <div class="text-left">
                                                <p>Notre plateforme vous accompagne dans la constitution de votre
                                                    dossier de location. Notre but ? vous aider à
                                                    <b>
                                                        mettre toutes les chances de votre côté et rassurer votre futur
                                                        propriétaire !
                                                    </b>
                                                </p>
                                                <p>
                                                    Une fois votre dossier complet, il sera automatiquement consultable
                                                    par les propriétaires de LocService. Vous pourrez aussi l’envoyer
                                                    vous-même sous forme de lien durant vos démarches.
                                                </p>
                                                <p>
                                                    <b>Attention</b>, si vous effectuez les démarches pour un proche,
                                                    veillez à mettre son nom en tant que locataire et non le vôtre.
                                                    Il ne vous reste plus qu’à cliquer :
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-md-3">
                                                <div class="btn btn--primary btn-block modal-close file-modal text-uppercase">
                                                    <span class="btn__text">Passer</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div th:if="${userApi}">
        <div class="modal-container" id="acceptSharingInfoPartnerModal">
            <div class="modal-content">
                <section class="unpad ">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-8 col-12">
                                <div class="feature feature-1">
                                    <div class="feature__body boxed boxed--lg boxed--border text-center">
                                        <div class="modal-close modal-close-cross"></div>
                                        <div class="text-block">
                                            <h3>Confirmation</h3>
                                            <div class="">
                                                <p>Vous avez donné l’autorisation à DossierFacile de transmettre vos
                                                    données à <span
                                                            th:text="${userApi.getName2()==null?userApi.getName():userApi.getName2()}"></span>.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-md-3">
                                                <div class="btn btn--secondary btn-block modal-close file-modal text-uppercase">
                                                    <span class="btn__text">Annuler</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="btn btn--primary btn-block modal-close file-modal text-uppercase"
                                                     id="confirmButtonInfoPartnerModal">
                                                    <span class="btn__text">Confimer</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="notification pos-right pos-top col-md-3 col-lg-3 notification--reveal" data-animation="from-top"
         data-autoshow="1000">
        <div class="boxed boxed--border border--round box-shadow">
            <img alt="avatar" class="image--sm" src="/assets/images/marie.jpg"/>
            <div class="text-block">
                <h5>Bienvenue,</h5>
                <p>
                    Créer votre dossier ne prendra que quelques secondes !
                </p>
            </div>
        </div>
        <div class="notification-close-cross notification-close"></div>
    </div>
</div>


<div layout:fragment="javascripts" th:remove="tag">
    <script src="/js/registerTenant/registerTenant.js"></script>
    <script async="async" defer="defer" src="https://www.google.com/recaptcha/api.js"></script>
</div>

</body>
</html>
