<!DOCTYPE html>
<html lang="en"
      layout:decorator="registerTenant/layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DossierFacile</title>
</head>
<body>
<div layout:fragment="sidebar" th:remove="tag">
    <div th:replace="registerTenant/sidebar :: sidebar(step = 'GARANT', currentStep = ${currentStep}, fileDTO = ${fileDTO}, slug = ${tenantDTO.getSlug()})">
    </div>
</div>
<div layout:fragment="content" th:remove="tag">
    <section class="register-guarantor">
        <div class="container ">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5">
                    <h3 class="register-guarantor-title"> Constituez votre dossier : seules les pièces autorisées par la
                        loi vous sont
                        demandées </h3>
                    <h5 class="text-lead-color" th:text="#{tenant.garant.title}"></h5>


                    <form method="post"
                          onsubmit="return validate_form()"
                          th:action="@{/registerTenant/step7/} + ${tenantDTO.getSlug()}"
                          th:object="${tenantDTO.guarantor}">
                        <div class="row">

                            <div class="col-md-12 text-left">
                                <span> Prénom : </span>
                                <input autocomplete="true" class="small validate-required" id="firstName"
                                       placeholder="Ex : Lucas"
                                       th:field="*{firstName}" type="text"/>
                                <span class="color--error" id="firstName-error"></span>
                            </div>

                            <div class="col-md-12 text-left">
                                <span class="font"> Nom : </span>
                                <input autocomplete="true" class="small validate-required" id="lastName"
                                       placeholder="Ex : Durand"
                                       th:field="*{lastName}" type="text"/>
                                <span class="color--error" id="lastName-error"></span>
                            </div>

                            <div class="col-md-12 text-left" id="errors">
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn--sm btn--secondary type--uppercase mt-0 px-3"
                                        onclick="history.back()"
                                        type="button">précédent
                                </button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn--primary text-uppercase"
                                        th:text="#{tenant.form.button.next}"
                                        type="submit">
                                </button>
                            </div>
                        </div>

                    </form>
                    <div th:replace="include/modal-api:: modal-api">
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div th:replace="include/register-tenant-help :: register-tenant-help"></div>

    <div th:replace="include/modal-account:: modal-account">
    </div>
</div>

<div layout:fragment="javascripts" th:remove="tag">
    <script src="/js/registerTenant/registerTenant.js"></script>
</div>

</body>
</html>
