<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="bo/layout-bo">
<head>
    <title>DossierFacile</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div class="main-container">

        <section class="text-center pt-5">
            <div class="text-left col-lg-8 col-md-10">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-9">
                            <h3> Procédure de création de mot de passe </h3>
                        </div>
                    </div>
                </div>

                <div class="container col-lg-7 col-md-9">
                    <form class="row pt-5 w-70" th:action="@{/change-password}" th:method="post">
                        <input type="hidden" autocomplete="true" required="required" th:name="token" th:value="*{token}"
                               id="token"/>

                        <div class="col-md-12 text-left">
                            <span> Entrez votre nouveau mot de passe : </span>
                            <input type="password" autocomplete="true" required="required" th:name="password"
                                   id="password"
                                   placeholder="Ex : 123450" class="small validate-required"/>
                        </div>

                        <div class="col-md-12 text-left">
                            <span class="font"> Confirmer votre nouveau mot de passe : </span>
                            <input type="password" autocomplete="true" required="required"
                                   th:name="passwordConfirmation"
                                   placeholder="Ex : 123450" class="small validate-required"/>
                        </div>

                        <div class="col-md-12 mt-2 justify-content-center align-content-center">
                            <button type="submit" class="btn btn--primary w-auto px-5">
                                Valider
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>

</div>
</body>
</html>
