<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<header th:fragment="fixed-header-bo" class="fixed-header">
    <div class="row bg-white space-separator hidden-xs">
        <div class="col-md-8">
            <a class="" th:href="@{/}">
                <img src="/assets/images/logo.png" alt="" class="logo animated slideInLeft"/>
            </a>
            <a sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_OPERATOR')" th:href="@{/bo/dashboard}"
               class="profile fixed-header-link" th:text="Dashboard"></a>
        </div>
        <div class="col-md-4">
            <div class="row" style="margin-right: 225px;margin-left: 0;">
                <form th:method="get" th:action="@{/bo/searchTenant}" th:object="${email}" >
                    <div class="wrap">
                        <div class="search">
                            <input  required=""  oninvalid="this.setCustomValidity('remplissez ce champ')"
                                    oninput="setCustomValidity('')"  th:field="*{email}" type="text" class="form-control searchTerm" placeholder="Find tenant ..." style="border: 1px solid #00b4cc !important;height: auto;">
                            <button type="submit" class="searchButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="fixed-header-link-container">
            <a sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_OPERATOR')" th:href="@{/bo}"
               class="profile fixed-header-link" th:text="#{locatio.header.link.bo}"></a>
            <a th:unless="${#authorization.expression('isAuthenticated()')}" th:href="@{/login}"
               th:text="#{locatio.header.link.login}" class="profile fixed-header-link"></a>
            <form th:if="${#authorization.expression('isAuthenticated()')}" th:method="post"
                  th:action="@{/logout}">
                <button th:type="submit" class="fixed-header-link logout"
                        th:text="#{locatio.header.link.logout}"></button>
            </form>
        </div>
    </div>

    <nav class="navbar navbar-default  navbar-fixed-top hidden-sm hidden-md hidden-lg">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_OPERATOR')">
                        <a th:href="@{/bo}"
                           class="profile fixed-header-link" th:text="#{locatio.header.link.bo}"></a>
                    </li>
                    <li th:unless="${#authorization.expression('isAuthenticated()')}">
                        <a th:href="@{/login}"
                           th:text="#{locatio.header.link.login}" class=""
                           style="display: block;"></a>

                    </li>
                    <li th:if="${#authorization.expression('isAuthenticated()')}">
                        <form th:method="post"
                              th:action="@{/logout}">
                            <button th:type="submit" class="fixed-header-link logout"
                                    th:text="#{locatio.header.link.logout}"></button>
                        </form>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

</header>

</html>