<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<div th:fragment="script-bo" th:remove="tag">
    <div th:if="${#arrays.contains(@environment.getActiveProfiles(),'prod')}">
        <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-50823626-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'UA-50823626-2');
        </script>
    </div>
    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <script src="/webjars/datatables/2.1.0/js/jquery.dataTables.bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/bo.js"></script>
</div>

</body>

</html>

