<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<footer class="footer-3 text-center-xs space--xs pb-5
                                    bg-white mb-0 position-fixed fixed-bottom z-index-5" th:fragment="footer2">
    <div class="container mx-5 pr-5">
        <div class="row">
            <div class="col-sm-6">
                <ul class="list-inline list--hover">
                    <li><a href="https://beta.gouv.fr/"><span class="type--fine-print">Les startups d'Etat</span></a>
                    </li>
                    <li><a href="https://www.dossierfacile.fr/faq"><span class="type--fine-print">FAQ</span></a></li>
                    <li><a href="https://dossierfacile.fr/securite-des-donnees"><span class="type--fine-print">Mentions Légales - CGU</span></a>
                    </li>
                    <li><span class="type--fine-print">Vous pouvez nous contacter à contact@dossierfacile.fr </span>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 text-right text-center-xs">
                <ul class="social-list list-inline list--hover">
                    <li><a href="https://www.facebook.com/dossierfacile.fr/"><i
                            class="socicon socicon-facebook icon icon--xs"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/startup-d-etat-locatio/"><i
                            class="socicon icon socicon-linkedin icon--xs"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p class="type--fine-print"> © 2020 DossierFacile</p>
            </div>
        </div>
    </div>
</footer>
</html>


