<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="modal-api" th:remove="tag">
    <div class="row" th:if="${userApi}">
        <div class="col-md-6">
            <div class="feature feature-1">
                <div class="feature__body boxed boxed--border">
                    <img alt="Image" th:if="${userApi.isLogo()}"
                         th:src="'/logoApi/'+${userApi.getUsername()}"/>
                    <p>
                        Profitez d’un nouveau service grâce à notre partenariat !
                    </p>
                    <div class="modal-instance">
                        <a class="modal-trigger" href="#">
                            En savoir plus </a>

                        <div class="modal-container">
                            <div class="modal-content section-modal">
                                <section class="unpad ">
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <div class="col-md-6 col-12">
                                                <div class="feature feature-1 text-center">
                                                    <div class="feature__body boxed boxed--lg boxed--border">
                                                        <img alt="Image" th:if="${userApi.isLogo()}"
                                                             th:src="'/logoApi/'+${userApi.getUsername()}"/>
                                                        <div class="modal-close modal-close-cross"></div>
                                                        <div class="text-block">
                                                            <p th:text="${userApi.getTextModal()}">
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end feature-->
                                            </div>
                                        </div>
                                        <!--end of row-->
                                    </div>
                                    <!--end of container-->
                                </section>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--end feature-->
        </div>
        <div class="col-md-6">
            <div class="feature feature-1">
                <div class="feature__body boxed boxed--border text-center">
                    <img alt="Image" th:if="${userApi.isLogo()}"
                         th:src="'/logoApi/'+${userApi.getUsername()}"/>
                    <p>
                        <span th:text="${userApi.getName2()==null?userApi.getName():userApi.getName2()}"></span>
                        vous accompagne tout au long de la constitution de votre dossier !
                    </p>
                </div>
            </div>
            <!--end feature-->
        </div>
    </div>
</div>

</body>
</html>


