<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="modal-account" th:remove="tag">

    <div class="modal-instance">
        <div class="modal-container" id="info-modal">
            <div class="modal-content" data-width="80%">
                <div class="boxed boxed--lg text-center">
                    <h2> Je continue de compléter mon dossier ! </h2>
                    <p class="lead">
                        Bonjour, avant de continuer vous devez d'abord finaliser votre dossier.
                        <br/>
                        Si vous avez une question, un problème ou une suggestion, n'hésitez pas à nous écrire à
                        <a href="mailto:contact@dossierfacile.fr"> contact@dossierfacile.fr </a>
                    </p>

                    <a class="btn btn--primary mx-5 modal-close" href="#">
                        <span class="btn__text"> Fermer </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>


