.prevalidation-background-DENIED{
    background-color: var(--bs-danger-bg-subtle);
}
.prevalidation-background-UNDEFINED{
    background-color: #f0d39c;
    color: #929292;
}
.prevalidation-background-CHECKED{
    background-color: #e1f2e4;
    color: #929292;
}