
.fixed-header {
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 50;
}

.fixed-header-link-container {
    position: absolute;
    right: 0;
}

.fixed-header-link-container form {
    display: inline;
}

.fixed-header-link {
    text-decoration: none;
    padding: 10px;
}

.fixed-header-link:hover {
    text-decoration: none;
}

.profile:hover {
    color: #003988;
    order-color: transparent;
}

.profile {
    color: #003988;
    display: inline-block;
}

.logout {
    background: none !important;
    color: #D03433;
    border: none;
    padding: 0 !important;
    font: inherit;
    /*border is optional*/
    /*border-bottom:1px solid #444;*/
    display: inline-block;
    cursor: pointer;
}

.footer_content {
    text-align: center;
    margin-bottom: 20px;
}

.footer_logo {
    margin-bottom: 20px;
}

.bold {
    font-weight: bold;
}

.link-file {
    background-color: #eee;
    opacity: 1;
    border-radius: 50px !important;
    display: block;
    width: 100%;
    height: 40px;
    padding: 9px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
}

.link-file:hover {
    text-decoration: none;
    border-color: #003189;
    color: #003189;
}

.link-file:focus {
    text-decoration: none !important;
    color: #003189;
}

.icono-edit-file {
    margin-left: -2px;
}

.nounderline {
    text-decoration: none !important;
}

.top-buffer {
    margin-top: 20px;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.bo-btn {
    border-radius: 50px;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1;
}

.bo-send-btn {
    border-radius: 50px;
    padding: 6px 12px !important;
    font-size: 17px !important;
    line-height: 1;
}

@media screen and ( max-width: 991px ) {
    .bo-btn.btn-responsive {
        white-space: pre-line;
    }
}

#formLocataire {
    display: none;
}

.logo2 {
    margin-left: 20px;
    height: 43px !important;
    width: 43px !important;
}

.logo2footer {
    height: 60px !important;
    /*width: 43px !important;*/
}

.btn-alt {
    background-color: #e9ebf1;
    color: #003189 !important;
    font-size: 20px;
}

.btn-alt:hover {
    color: #e9ebf1 !important;
}

@media screen and ( max-width: 991px ) {
    .bo-btn.btn-responsive {
        white-space: pre-line;
    }

    .table-responsive .table th.big-col,
    .table-responsive .table td.big-col {
        display: none;
    }

    .table-responsive .table th.centered,
    .table-responsive .table td.centered {
        text-align: center;
    }

}


@media screen and ( max-width: 600px ) {
    .table-responsive .table th.medium-col,
    .table-responsive .table td.medium-col {
        display: none;
    }
}

.nav-tabs li a.properties-list {
    cursor: pointer;
}

.nav-tabs .nav-link,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    margin-right: 2px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:hover,
.nav-tabs .nav-link.active:focus {
    cursor: pointer;
}


@media screen and ( max-width: 700px ) {
    #messageArea > .chat-message > .message > .avatar,
    #messageArea > .chat-message > .message-you > .avatar {
        display: none;
    }

    #messageArea > .chat-message > .message > .container-message > .title-header,
    #messageArea > .chat-message > .message-you > .container-message-you > .title-header-you {
        display: block;
        margin-bottom: 0px;
        text-align: left;
    }

    #messageArea > .chat-message > .message-you > .container-message-you > .title-header-you,
    #messageArea > .chat-message > .message-you > .container-message-you > .content-you {
        display: block;
        float: left;
        clear: both;
        padding-right: 10%;
        text-align: justify;
    }

    #messageArea > .chat-message > .message > .container-message > .title-header,
    #messageArea > .chat-message > .message > .container-message > .content > p {
        display: block;
        float: right;
        clear: both;
        padding-left: 10%;
        text-align: justify;
    }

    #messageArea > .chat-message > .message > .container-message > div:nth-child( 2 ),
    #messageArea > .chat-message > .message-you > .container-message-you > .date-you {
        display: none;
    }

    .container.big-space-separator {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .medium-margin-bottom {
        padding: 5px;
        margin: 0px;
    }

    .hide-on-small-screen {
        display: none;
    }

    .hide-on-large-screen {
        display: block;
    }

    #modify-documents.collapse {
        display: none;
    }

    #modify-documents.collapse.in {
        display: block;
    }
}

@media screen and ( max-width: 400px ) {
    .chat-container {
        margin: 5px;
    }
}

#chat-page > .chat-container {
    min-height: 100px;
}

#chat-page > .chat-container > .row {
    margin-left: 0px;
    margin-right: 0px;
}

#chat-page > .chat-container > .row > #messageForm {
    margin: 20px;
    padding: 0px;
}

table > tbody > tr > td.statistics-pct {
    background-image: linear-gradient(to right, var(--data-color), var(--data-color) var(--data-pct)%, transparent var(--data-pct)%, transparent);
    background-repeat: no-repeat;
    vertical-align: middle;
}

.property-deleted {
    text-decoration: line-through;
}

span.ocr-result {
    white-space: pre-line;
    max-width: 60em;
    display: inline-block;
    max-height: 20em;
    overflow: auto;
}


/* style from bootstrap 3 migration */
.panel-primary > .card-header {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

.card-header {
  padding: 5px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.form-check-input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
    margin-left: -1.75em;
}

.width--fit-content {
    width: fit-content;
}

.w-600 {
    max-width: 600px;
}

.nav-link {
    border: 1px solid var(--bs-border-color);
    background-color: var(--bs-dark-bg-subtle);
}