
.display-flex {
    display: flex !important;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

.flex-direction-column {
    flex-direction: column !important;
}

.height-100pct {
    height: 100% !important;
}

.height-75pct {
    height: 75% !important;
}

.height-50px {
    height: 50px !important;
}

.margin-bottom-10px {
    margin-bottom: 10px !important;
}

.margin-top-10px {
    margin-top: 10px !important;
}

.margin-top-25px {
    margin-top: 2px !important;
}

.overflow-auto {
    overflow: auto !important;
}

.padding-right-0px {
    padding-right: 0px !important;
}

.padding-right-5px {
    padding-right: 5px !important;
}

.process-file-button {
    background-color: #f0ad4e;
    border-radius: 5px !important;
    color: white;
}

.process-file-messages {
    padding: 5px !important;
    border: 1px solid !important;
}

.width-100pct {
    width: 100% !important;
}

.file1-background-color {
    background-color: rgb(179, 179, 179) !important;
    text-align: left;
}

.file1-border-color {
    border-color: rgb(232, 237, 241) !important;
}

.file2-background-color {
    background-color: rgb(241, 229, 229) !important;
    text-align: left;
}

.file2-border-color {
    border-color: rgb(241, 229, 229) !important;
}

.file3-background-color {
    background-color: rgb(226, 246, 231) !important;
    text-align: center;
}

.file3-border-color {
    border-color: rgb(226, 246, 231) !important;
}

.file4-background-color {
    background-color: rgb(222, 243, 246) !important;
    text-align: center;
}

.file4-border-color {
    border-color: rgb(222, 243, 246) !important;
}

.file5-background-color {
    background-color: rgb(255, 250, 185) !important;
    text-align: center;
}

.file5-border-color {
    border-color: rgb(255, 250, 185) !important;
}

.back-guarantor {
    background-color: rgb(228, 239, 240);
}

.header-tenant-info {
    @media (min-width: 900px) {
        position: sticky;
        left: 0;
        top: 60px;
        right: 0;
    }
    width: 100%;
    min-width: fit-content;
    z-index: 1;
    background-color: rgba(170, 170, 170, 0.65);
}

.letter{
    color: #5b5b4e;
}


.check-distance{
    margin-top: 10px;
    margin-bottom: 20px;
}
textarea {
    height: 100px;
}

html[data-fr-theme="dark"] .span1 {
    color: #dedede;
}

.span1{
    padding-left: 10px;
    display: flex;
    justify-content: center;
    line-height: 18pt;
    color: #0a0808;
}

.name-title{
    margin-top: 25px;
    margin-bottom: 30px;
}

.full-size-div{
    height:100%;
    width:100%;
}

.card-div{
    height:90%;
    width:100%;
    box-shadow: 2px 3px 10px #5b5b4e, 0 0 60px #f6f6f6 inset;
    background: #f6f6f6;
    margin-top: 10px
}

.h3-style{
    padding-top:10px;
    padding-left:20px
}

.p-style{
    padding-top:10px;
    padding-left:30px;
    padding-right:10px
}

.verification-block {
    padding-left: 15px;
    padding-bottom: 5px;
}

.span-style{
    display: flex;
    line-height: 20pt;
    color: #11436e;
}
hr.new1 {
    border-top: 3px solid #3c3737;
}
div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}
div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

.prevalidation-background-DENIED{
    background-color: #fff6f7;
    color: #000000;
    padding-right: 5px;
}
.prevalidation-background-UNDEFINED{
    background-color: #f6f4d7;
    color: #000000;
    padding-right: 5px;
}
.prevalidation-background-CHECKED{
    background-color: #e9f6f0;
    color: #000000;
    padding-right: 5px;
}

.card-header.category-IDENTIFICATION {
    background-color: #FDE39C;
}
.card-header.category-RESIDENCY{
    background-color: #FBB8F6;
}
.card-header.category-PROFESSIONAL{
    background-color: #FF8A65;
}
.card-header.category-FINANCIAL{
    background-color: #B3E5F1;
}
.card-header.category-TAX{
    background-color: #B2B2D8;
}

.card-header.category-IDENTIFICATION_LEGAL_PERSON{
    background-color: #FDE39C;
}
.card-header.category-GUARANTEE_PROVIDER_CERTIFICATE{
    background-color: rgb(179, 179, 179);
}
.card-header.category-NULL{
    background-color: rgb(179, 179, 179);
}