<!DOCTYPE html>
<html lang="en"
      layout:decorator="agent/layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/webjars/font-awesome/5.11.2/css/all.css" rel="stylesheet"/>
    <link href="/css/progress-bar.css" rel="stylesheet"/>
    <title>DossierFacile</title>
</head>
<body>
<div layout:fragment="sidebar" th:remove="tag">
    <div th:replace="agent/sidebar:: sidebar"></div>
</div>
<div layout:fragment="content" th:remove="tag">
    <section class="pt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <h2>
                        <b><span th:text="${property.name}"></span></b>
                        <span th:text="' (' + ${property.size()}+' prospects)'"></span>
                    </h2>
                </div>
                <div class="col-md-4 text-center">
                    <a class="btn btn--primary button-modify-property" href="#"
                       th:attr="data-id=${property.id}">
                        <span class="btn__text">Modifier</span>
                    </a>
                </div>
                <div class="col-md-4 text-center">
                    <div class="input-checkbox input-checkbox--switch">
                        <input id="checkbox-switch"
                               th:attr="data-id=${property.id}"
                               th:checked="not ${property.isNotification()}"
                               type="checkbox"/>
                        <label for="checkbox-switch"></label>
                    </div>
                    <span>En attente de signature</span>
                </div>
                <div class="col-md-4 text-center">
                    <a class="btn btn--danger button-delete-property" href="#"
                       th:attr="data-id=${property.id}">
                        <span class="btn__text">Supprimer</span>
                    </a>
                </div>

                <div class="col-md-12">
                    <form id="prospect-action" th:action="@{/prospect/}" th:method="post">
                        <div class="row">
                            <input id="prospectActionFormButton" style="display: none;" type="submit"/>
                        </div>
                    </form>

                    <div class="table border--round table--alternate-row property-prospect-table">
                        <div class="table-header">
                            <div class="row table-row">
                                <div th:class="|${'table-cell first-name-column'} ${prospectList.size() > 1 ? 'order-column' : ''}|"
                                     th:classappend="'prenom-width'">
                                    <span th:class="|${orderBy != null and orderBy.equals('prenomup') ? 'order-up' : ''}${orderBy != null and orderBy.equals('prenomdown') ? 'order-down' : ''}|">Prénom</span>
                                </div>
                                <div th:class="|${'table-cell last-name-column'} ${prospectList.size() > 1 ? 'order-column' : ''}|"
                                     th:classappend="'nom-width'">
                                    <span th:class="|${orderBy != null and orderBy.equals('nomup') ? 'order-up' : ''}${orderBy != null and orderBy.equals('nomdown') ? 'order-down' : ''}|">Nom</span>
                                </div>
                                <div class="table-cell tel-width"> Téléphone</div>
                                <div class="table-cell mail-width"> Mail</div>
                                <div class="table-cell status-width"> Etat</div>
                                <div th:class="|${'table-cell salary-column'} ${prospectList.size() > 1 ? 'order-column' : ''}|"
                                     th:classappend="'salary-width'">
                                    <span th:class="|${orderBy != null and orderBy.equals('salaryup') ? 'order-up' : ''}${orderBy != null and orderBy.equals('salarydown') ? 'order-down' : ''}|">Salaire</span>
                                </div>
                                <div class="table-cell action-width"> Actions</div>
                            </div>
                        </div>
                        <div class="table-body">
                            <th:block th:each="prospect : ${prospectList}">
                                <div style="height: auto"
                                     th:attr="data-id=${prospect.getId()}"
                                     th:class="|${'row table-row tr-property-table fz-info'}|"
                                     th:id="'row-show-details'+${prospect.id}">
                                    <div th:class="|${'table-cell'} ${prospect.isNotificationDemandVisit() ? 'prospect-to-process' : prospect.isNotificationAfterVisit()?'prospect-to-process2':''}|"
                                         th:classappend="'prenom-width'"
                                         th:text="${prospect.getFirstName()}"></div>
                                    <div class="table-cell nom-width"
                                         th:text="${prospect.getLastName()}"></div>
                                    <div class="table-cell tel-width" th:text="${prospect.getPhone()}"></div>
                                    <div class="table-cell mail-width" th:text="${prospect.getEmail()}"></div>
                                    <div class="table-cell status-width"
                                         th:text="${prospect.getStatus().getLabel()}"></div>
                                    <div class="table-cell salary-width"
                                         th:with="salary=${prospect.getTenant() != null ? prospect.getTenant().getTotalSalary() : prospect.getSalary()}">
                                        <span th:text="${(#numbers.formatInteger(salary, 0, 'WHITESPACE')) + ' €'}"></span>
                                        <span class="text-primary" th:if="${salary==0 or property.getRentCost()==0}"> (N.A.)</span>
                                        <span th:class="${porcent &gt; 34}?'text-danger':'text-success'"
                                              th:text="' ('+${(#numbers.formatDecimal(porcent, 1, 2))}+')'"
                                              th:unless="${salary==0 or property.getRentCost()==0}"
                                              th:with="porcent=${property.getRentCost()}/${salary}*100">

                                        </span>
                                    </div>
                                    <div class="table-cell action-width">
                                        <a class="ml-2 nounderline" href="#" th:attr="data-prospectId=${prospect.getId()}, data-firstName=${prospect.getFirstName()},
                                           data-lastName=${prospect.getLastName()}, data-propertyId=${property.getId()}, data-propertyName=${property.getName()}"
                                           th:classappend="${(bookingProspectId != null and prospect.getId() == bookingProspectId) ? 'booking-prospect' : ''}"
                                           th:id="@{book} + ${prospect.getId()}"
                                           th:if="${prospect.getStatus() != T(fr.gouv.common.enums.ProspectStatus).FEEDBACK_NEEDED and
                                           prospect.getStatus() != T(fr.gouv.common.enums.ProspectStatus).INTERESTED}">
                                            <i class="icon icon-Add icon--sm"></i>
                                        </a>
                                        <a class="ml-2 nounderline" href="#"
                                           th:attr="data-href=@{/prospect/showInterest/} + ${prospect.getId()}"
                                           th:id="@{show-interest} + ${prospect.getId()}"
                                           th:if="${prospect.getStatus() == T(fr.gouv.common.enums.ProspectStatus).FEEDBACK_NEEDED}">
                                            <i class="icon icon-Like icon--sm"></i>
                                        </a>
                                        <span class="ml-2 nounderline color--success" style="cursor:auto !important;"
                                              th:if="${prospect.getStatus() == T(fr.gouv.common.enums.ProspectStatus).INTERESTED}">
                                            <i class="icon icon-Yes icon--sm"></i>
                                        </span>
                                        <a class="ml-2 nounderline" href="#"
                                           th:attr="data-href=@{/prospect/agent/} + ${prospect.getId()} + '/delete'"
                                           th:id="@{suppress} + ${prospect.getId()}">
                                            <i class="icon icon-Close icon--sm"></i>
                                        </a>
                                        <a class="ml-2 nounderline" href="#"
                                           th:attr="data-href=@{/prospect/setDateToAttend/} + ${prospect.getId()}"
                                           th:id="@{wait} + ${prospect.getId()}"
                                           th:if="${prospect.getStatus() != T(fr.gouv.common.enums.ProspectStatus).BOOKED and
                                           prospect.getStatus() != T(fr.gouv.common.enums.ProspectStatus).INTERESTED}">
                                            <i class="icon icon-Clock-Forward icon--sm"></i>
                                        </a>
                                        <a class="ml-2 nounderline" href="#"
                                           th:attr="data-href=@{/prospect/mute/} + ${prospect.getId()}"
                                           th:id="@{mute} + ${prospect.getId()}"
                                           th:if="${not prospect.killNotification}">
                                            <i class="icon icon-Loud icon--sm"></i>
                                        </a>
                                        <a class="ml-2 nounderline" href="#"
                                           th:attr="data-href=@{/prospect/unmute/} + ${prospect.getId()}"
                                           th:id="@{unmute} + ${prospect.getId()}"
                                           th:if="${prospect.killNotification}">
                                            <i class="icon icon-Mute icon--sm"></i>
                                        </a>
                                    </div>
                                    <div class="offset-lg-4 col-lg-4" style="margin-bottom: 20px">
                                        <div class="progress-horizontal">
                                            <div class="progress-horizontal__bar"
                                                 th:attr="data-value=${prospect.getPercent()}"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row selected-prospect-info hidden" th:id="'details'+${prospect.id}">
                                    <div class="col-12"
                                         th:with="apartmentSharing=${prospect.getTenant()!=null?prospect.getTenant().getApartmentSharing():prospect.getApartmentSharing()}">
                                        <div class="tabs-container"
                                             data-content-align="left"
                                             th:if="${apartmentSharing.getTenants().size()>1 or apartmentSharing.getProspects().size()>1}">
                                            <h5 class="text-center" style="margin-bottom: 5px">Revenus totaux
                                                <span th:text="${(#numbers.formatInteger(apartmentSharing.totalSalary(),0,'WHITESPACE')) + ' €'} "></span>
                                            </h5>
                                            <ul class="tabs" style="margin-bottom: 5px">
                                                <li th:class="${iter.index==0?'active':''}"
                                                    th:each="tenant, iter : ${apartmentSharing.tenants.size() > 0 ? apartmentSharing.tenants : apartmentSharing.prospects}">
                                                    <div class="tab__title">
                                                        <span class="h5" th:text="${tenant.firstName}"></span>
                                                    </div>
                                                    <div class="tab__content ">
                                                        <div class="d-flex d-inline-flex w-100">
                                                            <div class="w-100">
                                                                <h5 class="text-center"
                                                                    th:if="${apartmentSharing.tenants.size()>1}"
                                                                    th:text="#{prospect.profile.single.tenant(${tenant.firstName},${tenant.lastName},${tenant.getTenantSituation()!=T(fr.dossierfacile.common.enums.TenantSituation).UNDEFINED}?#{${tenant.getTenantSituation().getLabel()}}:'(statut encore inconnu)',${tenant.getTotalSalary()})}">
                                                                </h5>
                                                                <h5 class="text-center"
                                                                    th:if="${apartmentSharing.prospects.size()>1} and ${apartmentSharing.tenants.size()==0}"
                                                                    th:text="#{prospect.profile.single.tenant(${tenant.firstName},${tenant.lastName!=null}?${tenant.lastName}:'',${tenant.getTenantSituation()!=T(fr.dossierfacile.common.enums.TenantSituation).UNDEFINED}?#{${tenant.getTenantSituation().getLabel()}}:'(statut encore inconnu)',${tenant.getTotalSalary()})}">
                                                                </h5>
                                                            </div>
                                                        </div>

                                                        <div class="d-flex d-inline-flex w-100 fz-5"
                                                             th:if="${tenant instanceof T(fr.gouv.common.entity.Tenant)}">
                                                            <div class="feature feature-4 boxed boxed--lg boxed--border box-agent-profile"
                                                                 onclick="this.getAttribute('data-url')===null? '': window.open(this.getAttribute('data-url'),'mywindow')"
                                                                 th:if="${tenant.upload1 != null}"
                                                                 th:classappend="${tenant.fileStatus.getFile(1).name()!='ACCEPTED'}?'':'cursor-pointer'"
                                                                 th:data-url="${tenant.fileStatus.getFile(1).name()!='ACCEPTED'?'':tenant.getUpload1Route()}">
                                                                <i class="icon icon-Male"></i>
                                                                <div th:replace="include/file-status-profile:: status(1)"></div>
                                                                <h3>Votre pièce en cours de validité </h3>
                                                            </div>
                                                            <!--end feature-->
                                                            <div class="feature feature-4 boxed boxed--lg boxed--border box-agent-profile"
                                                                 onclick="this.getAttribute('data-url')===null? '': window.open(this.getAttribute('data-url'),'mywindow')"
                                                                 th:if="${tenant.upload2 != null}"
                                                                 th:classappend="${tenant.fileStatus.getFile(2).name()!='ACCEPTED'}?'':'cursor-pointer'"
                                                                 th:data-url="${tenant.fileStatus.getFile(2).name()!='ACCEPTED'?'':tenant.getUpload2Route()}">
                                                                <i class="icon icon-Warehouse"></i>
                                                                <div th:replace="include/file-status-profile:: status(2)"></div>
                                                                <h3>Votre justificatif de domicile</h3>
                                                            </div>
                                                            <!--end feature-->
                                                            <div class="feature feature-4 boxed boxed--lg boxed--border box-agent-profile"
                                                                 onclick="this.getAttribute('data-url')===null? '': window.open(this.getAttribute('data-url'),'mywindow')"
                                                                 th:if="${tenant.upload3 != null}"
                                                                 th:classappend="${tenant.fileStatus.getFile(3).name()!='ACCEPTED'}?'':'cursor-pointer'"
                                                                 th:data-url="${tenant.fileStatus.getFile(3).name()!='ACCEPTED'?'':tenant.getUpload3Route()}">
                                                                <i class="icon icon-File"></i>
                                                                <div th:replace="include/file-status-profile:: status(3)"></div>
                                                                <h3>Votre justificatif de situation professionnel</h3>
                                                            </div>
                                                            <!--end feature-->
                                                            <div class="feature feature-4 boxed boxed--lg boxed--border box-agent-profile"
                                                                 onclick="this.getAttribute('data-url')===null? '': window.open(this.getAttribute('data-url'),'mywindow')"
                                                                 th:if="${tenant.upload4 != null}"
                                                                 th:classappend="${tenant.fileStatus.getFile(4).name()!='ACCEPTED'}?'':'cursor-pointer'"
                                                                 th:data-url="${tenant.fileStatus.getFile(4).name()!='ACCEPTED'?'':tenant.getUpload4Route()}">
                                                                <i class="icon icon-Folder-WithDocument"></i>
                                                                <div th:replace="include/file-status-profile:: status(4)"></div>
                                                                <h3>Votre avis d’imposition</h3>
                                                            </div>
                                                            <!--end feature-->

                                                            <div class="feature feature-4 boxed boxed--lg boxed--border box-agent-profile"
                                                                 onclick="this.getAttribute('data-url')===null? '': window.open(this.getAttribute('data-url'),'mywindow')"
                                                                 th:if="${tenant.upload5 != null}"
                                                                 th:classappend="${tenant.fileStatus.getFile(5).name()!='ACCEPTED'}?'':'cursor-pointer'"
                                                                 th:data-url="${tenant.fileStatus.getFile(5).name()!='ACCEPTED'?'':tenant.getUpload5Route()}">
                                                                <i class="icon icon-Money-Bag"></i>
                                                                <div th:replace="include/file-status-profile:: status(5)"></div>
                                                                <h3>Votre justificatif de ressources</h3>
                                                            </div>
                                                            <!--end feature-->
                                                        </div>
                                                        <div class="row"
                                                             th:if="${(tenant instanceof T(fr.gouv.common.entity.Tenant)) and tenant.getGuarantor()!=null}">
                                                            <div class="col-md-12 text-center"
                                                                 th:if="${tenant.getGuarantor().getGuarantorType().name()=='LOCATIO'}">
                                                                <h5 th:text="|${'GARANT:'} ${tenant.guarantor.fullName}|"></h5>
                                                            </div>
                                                            <div class="col-md-12 text-center"
                                                                 th:if="${tenant.getGuarantor().getGuarantorType().name()=='VISALE'}">
                                                                <h5 th:text="|${'GARANT:'} Visale|"></h5>
                                                            </div>
                                                        </div>
                                                        <div class="row"
                                                             th:if="${(tenant instanceof T(fr.gouv.common.entity.Tenant)) and tenant.getGuarantor()!=null}">
                                                            <div class="col-md-12 col-lg-12">
                                                                <div class="d-flex d-inline-flex w-100 fz-5"
                                                                     th:if="${tenant.getGuarantor().getGuarantorType().name()=='VISALE'}">
                                                                    <div class="feature feature-4 boxed boxed--lg boxed--border box-agent-profile"
                                                                         onclick="this.getAttribute('data-url')===null? '': window.open(this.getAttribute('data-url'),'mywindow')"
                                                                         th:if="${tenant.getGuarantor().upload1 != null}"
                                                                         th:classappend="${tenant.fileStatus.getFile(6).name()!='ACCEPTED'}?'':'cursor-pointer'"
                                                                         th:data-url="${tenant.fileStatus.getFile(1).name()!='ACCEPTED'?'':tenant.getGuarantor().getUpload1Route()}">
                                                                        <i class="icon icon-Male"></i>
                                                                        <div th:replace="include/file-status-profile:: status(6)"></div>
                                                                        <h3>Votre attestation Visale</h3>
                                                                    </div>
                                                                    <!--end feature-->
                                                                </div>
                                                                <div class="d-flex d-inline-flex w-100 fz-5"
                                                                     th:if="${tenant.getGuarantor().getGuarantorType().name()=='LOCATIO'}">
                                                                    <div class=" feature feature-4 boxed boxed--lg boxed--border box-agent-profile"
                                                                         onclick="this.getAttribute('data-url')===null? '': window.open(this.getAttribute('data-url'),'mywindow')"
                                                                         th:if="${tenant.getGuarantor().upload1 != null}"
                                                                         th:classappend="${tenant.fileStatus.getFile(6).name()!='ACCEPTED'}?'':'cursor-pointer'"
                                                                         th:data-url="${tenant.fileStatus.getFile(1).name()!='ACCEPTED'?'':tenant.getGuarantor().getUpload1Route()}">
                                                                        <i class="icon icon-Male"></i>
                                                                        <div th:replace="include/file-status-profile:: status(6)"></div>
                                                                        <h3> La pièce d’identité recto verso de votre
                                                                            garant en cours de validité</h3>
                                                                    </div>
                                                                    <!--end feature-->
                                                                    <div class=" feature feature-4 boxed boxed--lg boxed--border box-agent-profile"
                                                                         onclick="this.getAttribute('data-url')===null? '': window.open(this.getAttribute('data-url'),'mywindow')"
                                                                         th:if="${tenant.getGuarantor().upload2 != null}"
                                                                         th:classappend="${tenant.fileStatus.getFile(7).name()!='ACCEPTED'}?'':'cursor-pointer'"
                                                                         th:data-url="${tenant.fileStatus.getFile(7).name()!='ACCEPTED'?'':tenant.getGuarantor().getUpload2Route()}">
                                                                        <i class="icon icon-Warehouse"></i>
                                                                        <div th:replace="include/file-status-profile:: status(7)"></div>
                                                                        <h3> Le justificatif de domicile de votre
                                                                            garant</h3>
                                                                    </div>
                                                                    <!--end feature-->
                                                                    <div class=" feature feature-4 boxed boxed--lg boxed--border box-agent-profile"
                                                                         onclick="this.getAttribute('data-url')===null? '': window.open(this.getAttribute('data-url'),'mywindow')"
                                                                         th:if="${tenant.getGuarantor().upload3 != null}"
                                                                         th:classappend="${tenant.fileStatus.getFile(8).name()!='ACCEPTED'}?'':'cursor-pointer'"
                                                                         th:data-url="${tenant.fileStatus.getFile(8).name()!='ACCEPTED'?'':tenant.getGuarantor().getUpload3Route()}">
                                                                        <i class="icon icon-File"></i>
                                                                        <div th:replace="include/file-status-profile:: status(8)"></div>
                                                                        <h3> Le justificatif de situation
                                                                            professionnelle de votre garant</h3>
                                                                    </div>
                                                                    <!--end feature-->
                                                                    <div class=" feature feature-4 boxed boxed--lg boxed--border box-agent-profile"
                                                                         onclick="this.getAttribute('data-url')===null? '': window.open(this.getAttribute('data-url'),'mywindow')"
                                                                         th:if="${tenant.getGuarantor().upload4 != null}"
                                                                         th:classappend="${tenant.fileStatus.getFile(9).name()!='ACCEPTED'}?'':'cursor-pointer'"
                                                                         th:data-url="${tenant.fileStatus.getFile(9).name()!='ACCEPTED'?'':tenant.getGuarantor().getUpload4Route()}">
                                                                        <i class="icon icon-Folder-WithDocument"></i>
                                                                        <div th:replace="include/file-status-profile:: status(9)"></div>
                                                                        <h3> L’avis d’imposition de votre garant</h3>
                                                                    </div>
                                                                    <!--end feature-->
                                                                    <div class=" feature feature-4 boxed boxed--lg boxed--border box-agent-profile"
                                                                         onclick="this.getAttribute('data-url')===null? '': window.open(this.getAttribute('data-url'),'mywindow')"
                                                                         th:if="${tenant.getGuarantor().upload5 != null}"
                                                                         th:classappend="${tenant.fileStatus.getFile(10).name()!='ACCEPTED'}?'':'cursor-pointer'"
                                                                         th:data-url="${tenant.fileStatus.getFile(10).name()!='ACCEPTED'?'':tenant.getGuarantor().getUpload5Route()}">
                                                                        <i class="icon icon-Money-Bag"></i>
                                                                        <div th:replace="include/file-status-profile:: status(10)"></div>
                                                                        <h3> Le justificatif de ressources de votre
                                                                            garant</h3>
                                                                    </div>
                                                                    <!--end feature-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div style="margin-bottom: 5px"
                                             th:if="${apartmentSharing.tenants.size()==1 or apartmentSharing.prospects.size()==1}"
                                             th:with="tenant=${prospect.getTenant()!=null?prospect.getTenant():prospect}">
                                            <h5 class="text-center" style="margin-bottom: 5px">Revenus totaux
                                                <span th:text="${(#numbers.formatInteger(apartmentSharing.totalSalary(),0,'WHITESPACE')) + ' €'} "></span>
                                            </h5>
                                            <div>
                                                <div class="d-flex d-inline-flex w-100">
                                                    <div class="w-100">
                                                        <h5 class="text-center"
                                                            th:if="${apartmentSharing.tenants.size()==1}"
                                                            th:text="#{prospect.profile.single.tenant(${tenant.firstName},${tenant.lastName},${tenant.getTenantSituation()!=T(fr.dossierfacile.common.enums.TenantSituation).UNDEFINED}?#{${tenant.getTenantSituation().getLabel()}}:'(statut encore inconnu)',${tenant.getTotalSalary()})}">
                                                        </h5>
                                                        <h5 class="text-center"
                                                            th:if="${apartmentSharing.prospects.size()==1} and ${apartmentSharing.tenants.size()==0}"
                                                            th:text="#{prospect.profile.single.tenant(${tenant.firstName},${tenant.lastName!=null}?${tenant.lastName}:'',${tenant.getTenantSituation()!=T(fr.dossierfacile.common.enums.TenantSituation).UNDEFINED}?#{${tenant.getTenantSituation().getLabel()}}:'(statut encore inconnu)',${tenant.getTotalSalary()})}">
                                                        </h5>
                                                    </div>
                                                </div>

                                                <div class="d-flex d-inline-flex w-100 fz-5"
                                                     th:if="${tenant instanceof T(fr.gouv.common.entity.Tenant)}">
                                                    <div class=" feature feature-4 boxed boxed--lg boxed--border box-agent-profile"
                                                         onclick="this.getAttribute('data-url')===null? '': window.open(this.getAttribute('data-url'),'mywindow')"
                                                         th:if="${tenant.upload1 != null}"
                                                         th:classappend="${tenant.fileStatus.getFile(1).name()!='ACCEPTED'}?'':'cursor-pointer'"
                                                         th:data-url="${tenant.fileStatus.getFile(1).name()!='ACCEPTED'?'':tenant.getUpload1Route()}">
                                                        <i class="icon icon-Male"></i>
                                                        <div th:replace="include/file-status-profile:: status(1)"></div>
                                                        <h3>Votre pièce en cours de validité </h3>
                                                    </div>
                                                    <!--end feature-->
                                                    <div class=" feature feature-4 boxed boxed--lg boxed--border box-agent-profile"
                                                         onclick="this.getAttribute('data-url')===null? '': window.open(this.getAttribute('data-url'),'mywindow')"
                                                         th:if="${tenant.upload2 != null}"
                                                         th:classappend="${tenant.fileStatus.getFile(2).name()!='ACCEPTED'}?'':'cursor-pointer'"
                                                         th:data-url="${tenant.fileStatus.getFile(2).name()!='ACCEPTED'?'':tenant.getUpload2Route()}">
                                                        <i class="icon icon-Warehouse"></i>
                                                        <div th:replace="include/file-status-profile:: status(2)"></div>
                                                        <h3>Votre justificatif de domicile</h3>
                                                    </div>
                                                    <!--end feature-->
                                                    <div class=" feature feature-4 boxed boxed--lg boxed--border box-agent-profile"
                                                         onclick="this.getAttribute('data-url')===null? '': window.open(this.getAttribute('data-url'),'mywindow')"
                                                         th:if="${tenant.upload3 != null}"
                                                         th:classappend="${tenant.fileStatus.getFile(3).name()!='ACCEPTED'}?'':'cursor-pointer'"
                                                         th:data-url="${tenant.fileStatus.getFile(3).name()!='ACCEPTED'?'':tenant.getUpload3Route()}">
                                                        <i class="icon icon-File"></i>
                                                        <div th:replace="include/file-status-profile:: status(3)"></div>
                                                        <h3>Votre justificatif de situation professionnel</h3>
                                                    </div>
                                                    <!--end feature-->
                                                    <div class=" feature feature-4 boxed boxed--lg boxed--border box-agent-profile"
                                                         onclick="this.getAttribute('data-url')===null? '': window.open(this.getAttribute('data-url'),'mywindow')"
                                                         th:if="${tenant.upload4 != null}"
                                                         th:classappend="${tenant.fileStatus.getFile(4).name()!='ACCEPTED'}?'':'cursor-pointer'"
                                                         th:data-url="${tenant.fileStatus.getFile(4).name()!='ACCEPTED'?'':tenant.getUpload4Route()}">
                                                        <i class="icon icon-Folder-WithDocument"></i>
                                                        <div th:replace="include/file-status-profile:: status(4)"></div>
                                                        <h3>Votre avis d’imposition</h3>
                                                    </div>
                                                    <!--end feature-->

                                                    <div class=" feature feature-4 boxed boxed--lg boxed--border box-agent-profile"
                                                         onclick="this.getAttribute('data-url')===null? '': window.open(this.getAttribute('data-url'),'mywindow')"
                                                         th:if="${tenant.upload5 != null}"
                                                         th:classappend="${tenant.fileStatus.getFile(5).name()!='ACCEPTED'}?'':'cursor-pointer'"
                                                         th:data-url="${tenant.fileStatus.getFile(5).name()!='ACCEPTED'?'':tenant.getUpload5Route()}">
                                                        <i class="icon icon-Money-Bag"></i>
                                                        <div th:replace="include/file-status-profile:: status(5)"></div>
                                                        <h3>Votre justificatif de ressources</h3>
                                                    </div>
                                                    <!--end feature-->
                                                </div>
                                                <div class="row"
                                                     th:if="${(tenant instanceof T(fr.gouv.common.entity.Tenant)) and tenant.getGuarantor()!=null}">
                                                    <div class="col-md-12 text-center"
                                                         th:if="${tenant.getGuarantor().getGuarantorType().name()=='LOCATIO'}">
                                                        <h5 th:text="|${'GARANT:'} ${tenant.guarantor.fullName}|"></h5>
                                                    </div>
                                                    <div class="col-md-12 text-center"
                                                         th:if="${tenant.getGuarantor().getGuarantorType().name()=='VISALE'}">
                                                        <h5 th:text="|${'GARANT:'} Visale|"></h5>
                                                    </div>
                                                </div>
                                                <div class="row"
                                                     th:if="${(tenant instanceof T(fr.gouv.common.entity.Tenant)) and tenant.getGuarantor()!=null}">
                                                    <div class="col-md-12 col-lg-12">
                                                        <div class="d-flex d-inline-flex w-100 fz-5"
                                                             th:if="${tenant.getGuarantor().getGuarantorType().name()=='VISALE'}">
                                                            <div class=" feature feature-4 boxed boxed--lg boxed--border box-agent-profile"
                                                                 onclick="this.getAttribute('data-url')===null? '': window.open(this.getAttribute('data-url'),'mywindow')"
                                                                 th:if="${tenant.getGuarantor().upload1 != null}"
                                                                 th:classappend="${tenant.fileStatus.getFile(6).name()!='ACCEPTED'}?'':'cursor-pointer'"
                                                                 th:data-url="${tenant.fileStatus.getFile(6).name()!='ACCEPTED'?'':tenant.getGuarantor().getUpload1Route()}">
                                                                <i class="icon icon-Male"></i>
                                                                <div th:replace="include/file-status-profile:: status(6)"></div>
                                                                <h3>Votre attestation Visale</h3>
                                                            </div>
                                                            <!--end feature-->
                                                        </div>
                                                        <div class="d-flex d-inline-flex w-100 fz-5"
                                                             th:if="${tenant.getGuarantor().getGuarantorType().name()=='LOCATIO'}">
                                                            <div class=" feature feature-4 boxed boxed--lg boxed--border box-agent-profile"
                                                                 onclick="this.getAttribute('data-url')===null? '': window.open(this.getAttribute('data-url'),'mywindow')"
                                                                 th:if="${tenant.getGuarantor().upload1 != null}"
                                                                 th:classappend="${tenant.fileStatus.getFile(6).name()!='ACCEPTED'}?'':'cursor-pointer'"
                                                                 th:data-url="${tenant.fileStatus.getFile(6).name()!='ACCEPTED'?'':tenant.getGuarantor().getUpload1Route()}">
                                                                <i class="icon icon-Male"></i>
                                                                <div th:replace="include/file-status-profile:: status(6)"></div>
                                                                <h3> La pièce d’identité recto verso de votre
                                                                    garant en cours de validité</h3>
                                                            </div>
                                                            <!--end feature-->
                                                            <div class=" feature feature-4 boxed boxed--lg boxed--border box-agent-profile"
                                                                 onclick="this.getAttribute('data-url')===null? '': window.open(this.getAttribute('data-url'),'mywindow')"
                                                                 th:if="${tenant.getGuarantor().upload2 != null}"
                                                                 th:classappend="${tenant.fileStatus.getFile(7).name()!='ACCEPTED'}?'':'cursor-pointer'"
                                                                 th:data-url="${tenant.fileStatus.getFile(7).name()!='ACCEPTED'?'':tenant.getGuarantor().getUpload2Route()}">
                                                                <i class="icon icon-Warehouse"></i>
                                                                <div th:replace="include/file-status-profile:: status(7)"></div>
                                                                <h3> Le justificatif de domicile de votre
                                                                    garant</h3>
                                                            </div>
                                                            <!--end feature-->
                                                            <div class=" feature feature-4 boxed boxed--lg boxed--border box-agent-profile"
                                                                 onclick="this.getAttribute('data-url')===null? '': window.open(this.getAttribute('data-url'),'mywindow')"
                                                                 th:if="${tenant.getGuarantor().upload3 != null}"
                                                                 th:classappend="${tenant.fileStatus.getFile(8).name()!='ACCEPTED'}?'':'cursor-pointer'"
                                                                 th:data-url="${tenant.fileStatus.getFile(8).name()!='ACCEPTED'?'':tenant.getGuarantor().getUpload3Route()}">
                                                                <i class="icon icon-File"></i>
                                                                <div th:replace="include/file-status-profile:: status(8)"></div>
                                                                <h3> Le justificatif de situation
                                                                    professionnelle de votre garant</h3>
                                                            </div>
                                                            <!--end feature-->
                                                            <div class=" feature feature-4 boxed boxed--lg boxed--border box-agent-profile"
                                                                 onclick="this.getAttribute('data-url')===null? '': window.open(this.getAttribute('data-url'),'mywindow')"
                                                                 th:if="${tenant.getGuarantor().upload4 != null}"
                                                                 th:classappend="${tenant.fileStatus.getFile(9).name()!='ACCEPTED'}?'':'cursor-pointer'"
                                                                 th:data-url="${tenant.fileStatus.getFile(9).name()!='ACCEPTED'?'':tenant.getGuarantor().getUpload4Route()}">
                                                                <i class="icon icon-Folder-WithDocument"></i>
                                                                <div th:replace="include/file-status-profile:: status(9)"></div>
                                                                <h3> L’avis d’imposition de votre garant</h3>
                                                            </div>
                                                            <!--end feature-->
                                                            <div class=" feature feature-4 boxed boxed--lg boxed--border box-agent-profile"
                                                                 onclick="this.getAttribute('data-url')===null? '': window.open(this.getAttribute('data-url'),'mywindow')"
                                                                 th:if="${tenant.getGuarantor().upload5 != null}"
                                                                 th:classappend="${tenant.fileStatus.getFile(10).name()!='ACCEPTED'}?'':'cursor-pointer'"
                                                                 th:data-url="${tenant.fileStatus.getFile(10).name()!='ACCEPTED'?'':tenant.getGuarantor().getUpload5Route()}">
                                                                <i class="icon icon-Money-Bag"></i>
                                                                <div th:replace="include/file-status-profile:: status(10)"></div>
                                                                <h3> Le justificatif de ressources de votre
                                                                    garant</h3>
                                                            </div>
                                                            <!--end feature-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12"
                                                 th:if="${prospect.getCustomMessage() == null or prospect.getCustomMessage().equals('')}">
                                                <span class="subtitle2">Note : pas de note pour l’instant </span>
                                                <a class="ml-2 nounderline"
                                                   href="#"
                                                   th:attr="data-href=@{/prospect/customMessage/} + ${prospect.getId()}, data-value=${prospect.getCustomMessage()}"
                                                   th:id="@{edit-note} + ${prospect.getId()}">
                                                    <i class="icon icon-Pencil icon--xs"></i>
                                                </a>
                                            </div>
                                            <div class="col-12"
                                                 th:if="${prospect.getCustomMessage() != null and !prospect.getCustomMessage().equals('')}">
                                                <br/>
                                                <div class="row">
                                                    <div class="col-md-1">
                                                        <h5>Note:</h5>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <textarea autofocus="autofocus" disabled="disabled"
                                                                  id="customMessage"
                                                                  name="customMessage" placeholder="Note"
                                                                  required="required"
                                                                  rows="3"
                                                                  th:text="${prospect.customMessage}"></textarea>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <a class="ml-2 nounderline"
                                                           href="#"
                                                           th:attr="data-href=@{/prospect/customMessage/} + ${prospect.getId()}, data-value=${prospect.getCustomMessage()}"
                                                           th:id="@{edit-note-} + ${prospect.getId()}">
                                                            <i class="icon icon-Pencil icon--xs"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row float-right"
                                             th:if="${prospect.getTenant()!=null and prospect.getTenant().getTenantFileStatus().name()=='VALIDATED'}">
                                            <div class="col-md-12">
                                                <a target="_blank"
                                                   th:href="@{/downloadFullPdf/} + ${prospect.getTenant().getSlug()}">Télécharger
                                                    le dossier</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="boxed boxed--border">
                                <h5 class="color--primary">Montant du loyer (en euros)</h5>
                                <p th:text="${(#numbers.formatDecimal(property.getRentCost(), 1, 2)) + ' €/month'}"></p>
                            </div>
                        </div>
                        <div class="col-md-8">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal-container" id="deletePropertyModal">
        <div class="modal-content section-modal">
            <section class="unpad ">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-12">
                            <div class="feature feature-1">
                                <div class="feature__body boxed boxed--lg boxed--border text-center">
                                    <div class="modal-close modal-close-cross"></div>
                                    <div class="text-block">
                                        <h3>ATTENTION ! Cette action est définitive</h3>
                                        <p>Souhaitez-vous supprimer définitivement cette propriété ? Vous n'aurez plus
                                            accès aux dossiers du prospect que vous avez choisi et tous les prospects de
                                            la propriété recevront un e-mail leur indiquant qu'ils n'ont pas été retenus
                                            pour la location.</p>
                                    </div>
                                    <form id="delete-form-property" th:action="@{/agent/property}" th:method="post">
                                        <br/>
                                        <div class="row justify-content-center">
                                            <div class="col-md-6">
                                                <a class="modal-close btn btn--primary dialog-button">
                                                    <span class="btn__text">Annuler</span>
                                                </a>
                                            </div>
                                            <div class="col-md-6">
                                                <button class="btn btn--danger dialog-button"
                                                        type="submit">
                                                    Supprimer la propriété
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
        </div>
    </div>
    <div class="modal-container" id="modalEditProperty">
        <div class="modal-content section-modal">
            <section class="unpad ">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-12">
                            <div class="feature feature-1">
                                <div class="feature__body boxed boxed--lg boxed--border text-center">
                                    <div class="modal-close modal-close-cross"></div>
                                    <div class="text-block">
                                        <h3>Modifier la propriété</h3>
                                    </div>
                                    <form id="edit-form-property" th:action="@{/agent/property/} + ${property.id}"
                                          th:method="post" th:object="${propertyEditDTO}">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input placeholder="Name" required="required"
                                                       th:field="*{name}"
                                                       type="text"/>
                                            </div>
                                            <div class="col-md-12">
                                                <input placeholder="RentCost" required="required"
                                                       th:field="*{rentCost}"
                                                       type="number"/>
                                            </div>
                                            <div class="col-md-7">
                                                <button class="btn btn--primary type--uppercase"
                                                        type="submit">Enregistrer les modifications
                                                </button>
                                            </div>
                                            <div class="col-md-5">
                                                <a class="modal-close btn btn-orange dialog-button border-0 ">
                                                    <span class="btn__text">Annuler</span>
                                                </a>
                                            </div>
                                        </div>
                                        <!--end of row-->
                                    </form>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
        </div>
    </div>
</div>
</body>
</html>