<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<div th:fragment="anil" th:remove="tag">
    <br/><br/>
    <div class="row">
        <div class="col-md-3 col-sm-2 col-xs-1"></div>
        <div class="col-md-6 col-sm-8 col-xs-10"
             style="background-color: #f8f8f8;border-radius:10px;text-align: center;">
            <p>Pour toutes questions relatives au logement, renseignez-vous auprès de l'<a class="text-primary1"
                                                                                           href="https://www.anil.org"
                                                                                           style="text-decoration: underline;"
                                                                                           target="_blank">ANIL</a> ou
                de votre <a class="text-primary1" href="https://www.anil.org/lanil-et-les-adil/votre-adil/"
                            style="text-decoration: underline;">ADIL</a>.</p>
            <br/>
            <img src="/assets/images/anil.png"/>
        </div>
    </div>
</div>

</body>

</html>
