<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="status(number)" th:remove="tag">

</div>
<div th:fragment="file-message(number)" th:remove="tag">
    <div th:remove="tag" >

        <b >Nous avons besoin de :</b>
        <ul>
            <li >
            </li>
            <li >
            </li>
            <li>
            </li>
            <li >
            </li>
            <li >
            </li>
            <li >
            </li>
            <li >
            </li>
            <li ></li>

        </ul>

    </div>
</div>


</body>
</html>