<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="fixed-header">
    <div class="nav-container position-relative bg-white">
        <div class="bar bar--sm visible-xs">
            <div class="mr-4 ml-4">
                <div class="row">
                    <div class="col-5 col-md-2">
                        <a th:href="@{~/home}">
                            <img alt="logo" class="logo w-100" src="/assets/images/logo.png"/>
                        </a>
                    </div>
                    <div class="col-7 col-md-10 text-right">
                        <a class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs" href="#">
                            <i class="icon icon--sm stack-interface stack-menu"></i>
                        </a>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </div>
        <!--end bar-->

        <nav class="bar bar-1 hidden-xs py-2" id="menu1">
            <div class="mr-4 ml-4">
                <div class="row pb-3">
                    <div class="col-md-3 hidden-xs">
                        <div class="bar__module">
                            <a th:href="@{~/home}">
                                <img alt="logo" class="logo img-fluid w-70 mt-2" src="/assets/images/logo.png"/>
                            </a>
                        </div>
                        <!--end module-->
                    </div>
                    <div class="col-md-9 col-lg-8 text-right text-left-xs text-left-sm mr-lg-5">
                        <div class="bar__module d-flex flex-column flex-md-row">
                            <ul class="menu-horizontal text-left ml-md-auto mr-md-5 my-auto">
                                <li sec:authorize="hasRole('ROLE_TENANT')"
                                    th:if="${currentUser!=null} and ${currentUser.apartmentSharing!=null} and ${currentUser.apartmentSharing.numberOfTenants > 1}">
                                    <a th:href="@{/locataire/mon-compte}+'#ma-colocation'"
                                       th:text="#{locatio.header.link.colocatio}">
                                    </a>
                                </li>
                                <li>
                                    <a th:href="'https://www.dossierfacile.fr/blog'"
                                       th:text="#{locatio.header.link.blog}">
                                    </a>
                                </li>
                                <li>
                                    <a th:href="'https://www.dossierfacile.fr/information'"
                                       th:text="#{locatio.header.link.information}">
                                    </a>
                                </li>
                                <li>
                                    <a th:href="'https://www.dossierfacile.fr/faq'"
                                       th:text="#{locatio.header.link.faq}">
                                    </a>
                                </li>
                                <li sec:authorize="hasRole('ROLE_TENANT')">
                                    <a class="position-relative" th:href="@{/message/tenant}" th:if="not ${sleepMode}">
                                        <span class="btn__text" th:text="#{locatio.header.link.message}">
                                        </span>
                                    </a>
                                    <span class="label hidden-xs"
                                          style="position: absolute; opacity: 1 !important; color: white; background-color: red; margin-top: -25px; margin-right: 105px; min-width: auto !important;"
                                          th:if="${currentUser != null and currentUser.unreadMessages()!=0}"
                                          th:text="${currentUser.unreadMessages()}"></span>
                                    <a class="position-relative" data-tooltip="Votre messagerie est bientôt de retour !"
                                       th:if="${sleepMode}">
                                        <span class="btn__text" th:text="#{locatio.header.link.message}">
                                        </span>
                                    </a>
                                </li>
                                <li class="dropdown hidden-xs hidden-sm" sec:authorize="hasRole('ROLE_TENANT')">
                                    <span class="dropdown__trigger" th:text="#{locatio.header.link.profile}"></span>
                                    <div class="dropdown__container">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-3 col-lg-3 dropdown__content">
                                                    <ul class="menu-vertical">
                                                        <li>
                                                            <a th:href="@{/locataire/mon-compte} + '#suivi-dossier'"
                                                               th:text="#{locatio.header.link.profile1}">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a th:href="@{/locataire/mon-compte} + '#mes-pieces'"
                                                               th:text="#{locatio.header.link.profile2}">
                                                            </a>
                                                        </li>
                                                        <li th:if="${currentUser!=null} and ${currentUser.getGuarantor()!=null}">
                                                            <a th:href="@{/locataire/mon-compte} + '#pieces-garant'"
                                                               th:text="#{locatio.header.link.profile3}">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a th:href="@{/locataire/mon-compte} + '#modifier-mes-informations'"
                                                               th:text="#{locatio.header.link.profile4}">
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div><!--end row-->
                                        </div><!--end container-->
                                    </div><!--end dropdown container-->
                                </li>

                                <li class="hidden-md hidden-lg" sec:authorize="hasRole('ROLE_TENANT')">
                                    <a th:href="@{/locataire/mon-compte} + '#suivi-dossier'"
                                       th:text="#{locatio.header.link.profile1}">
                                    </a>
                                </li>
                                <li class="hidden-md hidden-lg" sec:authorize="hasRole('ROLE_TENANT')">
                                    <a th:href="@{/locataire/mon-compte} + '#mes-pieces'"
                                       th:text="#{locatio.header.link.profile2}">
                                    </a>
                                </li>
                                <li class="hidden-md hidden-lg" sec:authorize="hasRole('ROLE_TENANT')"
                                    th:if="${currentUser!=null} and ${currentUser.getGuarantor()!=null}">
                                    <a th:href="@{/locataire/mon-compte} + '#pieces-garant'"
                                       th:text="#{locatio.header.link.profile3}">
                                    </a>
                                </li>
                                <li class="hidden-md hidden-lg" sec:authorize="hasRole('ROLE_TENANT')">
                                    <a th:href="@{/locataire/mon-compte} + '#modifier-mes-informations'"
                                       th:text="#{locatio.header.link.profile4}">
                                    </a>
                                </li>


                                <li sec:authorize="hasRole('ROLE_OWNER')">
                                    <a th:href="@{/proprietaire/mon-compte}"
                                       th:text="#{locatio.header.link.profile}">
                                    </a>
                                </li>
                                <li sec:authorize="hasRole('ROLE_AGENT')">
                                    <a th:href="@{/agent/profile}"
                                       th:text="#{locatio.header.link.profile}">
                                    </a>
                                </li>
                                <li sec:authorize="hasRole('ROLE_AGENT')">
                                    <a th:href="@{/agent/mes-statistiques}"
                                       th:text="#{locatio.header.link.statistics}">
                                    </a>
                                </li>
                            </ul>

                            <div class="menu-horizontal ml-md-4 my-auto d-flex">
                                <div th:unless="${#authorization.expression('isAuthenticated()')}">
                                    <a class="btn btn--sm type--uppercase btn--primary bg-orange border-0"
                                       th:href="@{~/login}"> <span
                                            class="btn__text">
                                    Me connecter</span> </a>
                                </div>

                                <div th:if="${#authorization.expression('isAuthenticated()')}">
                                    <form id="formLogout" th:action="@{~/login?logout}" th:method="post">

                                        <button class="btn btn--sm btn--secondary type--uppercase mt-0 px-3"
                                                id="disconnectButton"
                                                th:type="submit">
                                            Me deconnecter
                                        </button>
                                    </form>
                                </div>
                                <div class="ml-3" th:if="${buttonModal}">
                                    <a class="btn btn--sm type--uppercase btn--primary link-modal-connect"
                                       href="#"> <span class="btn__text">s'inscrire</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--end module-->

                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </nav>

        <!--end bar-->
    </div>
</header>

</html>