<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<header class="fixed-header" th:fragment="fixed-header2">

    <link href="/css/register-tenant/register-tenant-sidebar.css" rel="stylesheet"/>

    <div class="nav-container position-relative bg-white">
        <div class="bar bar--sm visible-xs">
            <div class="mr-4 ml-4">
                <div class="row" style="margin-left: 20px">
                    <div class="col-5 col-md-2">
                        <a th:href="@{~/home}">
                            <img alt="logo" class="logo w-100" src="/assets/images/logo.png"/>
                        </a>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </div>
        <!--end bar-->

        <nav class="bar bar-1 hidden-xs py-2" id="menu1">
            <div class="mr-4 ml-4">
                <div class="row pb-3">
                    <div class="col-md-3 hidden-xs">
                        <div class="bar__module">
                            <a th:href="@{~/home}">
                                <img alt="logo" class="logo img-fluid w-70 mt-2" src="/assets/images/logo.png"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>

</html>