<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head" th:remove="tag">
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>

    <title>DossierFacile</title>
    <meta content="4OOE91l6UNYCAnvnxQfNEnybmxX1QGAh05KkgvChMxw" name="google-site-verification"/>

    <link href="/assets/images/favicons/android-chrome-192x192.png" rel="icon" type="image/png"/>
    <link href="/webjars/font-awesome/5.11.2/css/fontawesome.min.css" rel="stylesheet"/>

    <link href="/css/socicon.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="/css/iconsmind.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="/css/bootstrap4.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="/css/flickity.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="/css/stack-interface.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="/css/theme.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="/css/custom.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,400i,600,700" rel="stylesheet"
          type="text/css"/>
    <link href="/css/font-sourcesanspro.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="/webjars/clockpicker/0.0.7/dist/bootstrap-clockpicker.min.css" rel="stylesheet"/>
    <link href="/webjars/font-awesome/5.11.2/css/all.css" rel="stylesheet"/>
</head>
<body>

</body>
</html>


