<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="register-tenant-help" th:remove="tag">

    <footer class="footer-3 text-center-xs space--xs pt-0 pb-3 mt-neg-5" th:fragment="footer">
        <div class="d-flex justify-content-end w-80">
            <div class="modal-instance">
                <a class="btn px-4 d-flex justify-content-around align-middle modal-trigger" href="#" id="help-button">
                    <span class="btn__text d-flex">
                        <i class="material-icons mr-3 my-auto d-inline-block font-weight-light"
                           style="font-size: 1.5rem">help_outline</i>
                        J'ai besoin d'aide </span>
                </a>

                <div class="modal-container">
                    <div class="modal-content text-left" data-width="80%">
                        <div class="boxed boxed--lg">
                            <h2> Vous avez besoin d’aide ? </h2>
                            <hr class="short"/>
                            <p class="lead">
                                Si vous ne possédez pas la/les pièce(s) demandée(s), nous vous conseillons d’ajouter un
                                document pour pouvoir poursuivre.
                                Vous aurez la possibilité de modifier vos documents quand vous aurez entièrement
                                complété votre dossier.
                            </p>

                            <p class="lead">
                                Si vous ne parvenez pas à ajouter une pièce, nous vous conseillons de rafraichir la page
                            </p>

                            <p class="lead">
                                Si cela ne suffit pas, contactez nous par mail à l’adresse
                                <a href="mailto:contact@dossierfacile.fr">contact@dossierfacile.fr</a>
                                , nous nous efforcerons de répondre au plus vite !
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>

</body>
</html>


