<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<div th:fragment="script" th:remove="tag">
    <div th:if="${#arrays.contains(@environment.getActiveProfiles(),'prod')}">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-50823626-2"></script>
    </div>
        <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-50823626-2"></script>

    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/flickity.min.js"></script>
    <script src="/js/parallax.js"></script>
    <script src="/js/easypiechart.min.js"></script>
    <script src="/js/smooth-scroll.min.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery-throttle.js"></script>

    <script src="/js/main.js"></script>
    <script src="/webjars/clockpicker/0.0.7/dist/bootstrap-clockpicker.min.js"></script>
</div>
</body>

</html>

