<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <base href="/"/>
    <title>DossierFacile</title>

    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <link rel="icon" type="image/png" href="/assets/images/favicons/android-chrome-192x192.png"/>
    <link href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body>

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1 th:text="${statusCode}"></h1>
        </div>
        <h2>On est désolé, rien à trouver par ici</h2>
        <p th:text="${statusMessage}"></p>
        <p th:text="${errorMessage}"></p>
    </div>
</div>

</body>

</html>