<!DOCTYPE HTML>
<html layout:decorator="layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="sidebar" th:remove="tag">
    <div class="nav-container nav-container--sidebar">
        <div class="nav-sidebar-column bg--dark">
            <div class="text-block">
                <ul class="menu-vertical">
                    <li>
                        <a th:href="@{~/proprietaire/tuto}">
                            <span> Tutoriel </span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{~/proprietaire/mon-compte}">
                            <span> Mon Compte </span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{'~/proprietaire/ma-propriete'}">
                            <span th:text="${owner.lastProperty().name}"></span>
                        </a>
                    </li>

                </ul>
            </div>

        </div>

        <div class="nav-sidebar-column-toggle visible-xs visible-sm" data-toggle-class=".nav-sidebar-column;active">
            <i class="stack-menu"></i>
        </div>
    </div>
</div>
<div th:fragment="modal" th:remove="tag">
    <div class="modal-container" data-modal-id="addProspectModal">
        <div class="modal-content section-modal">
            <section class="unpad ">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-12">
                            <div class="feature feature-1">
                                <div class="feature__body boxed boxed--lg boxed--border">
                                    <div class="modal-close modal-close-cross"></div>
                                    <form method="post" onsubmit="return validateFormByClass('add-prospect')"
                                          th:action="@{/proprietaire/prospect/}"
                                          th:object="${prospectDTO}">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Prénom *</label>
                                                <input class="small add-prospect" id="prospectFirstName"
                                                       placeholder="Ex : Coralie"
                                                       th:field="*{firstName}" type="text"/>
                                                <span class="color--error" th:errors="*{firstName}"
                                                      th:if="${#fields.hasErrors('firstName')}"></span>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Nom *</label>
                                                <input class="small add-prospect" placeholder="Ex : Durand "
                                                       th:field="*{lastName}"
                                                       type="text"/>
                                                <span class="color--error" th:errors="*{lastName}"
                                                      th:if="${#fields.hasErrors('lastName')}"></span>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Mail *</label>
                                                <input class="small add-prospect" id="prospectEmail"
                                                       placeholder="Ex : Coralie-Durand@exemple.fr"
                                                       th:field="*{email}" type="email"/>
                                                <span class="color--error" th:errors="*{email}"
                                                      th:if="${#fields.hasErrors('email')}"></span>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Situation</label>
                                                <div class="input-select">
                                                    <select class="small" id="prospectSituation"
                                                            th:field="*{situation}">
                                                        <option th:each="situation, iter: ${T(fr.dossierfacile.common.enums.TenantSituation).values()}"
                                                                th:if="${situation.getLabel()}!=null"
                                                                th:text="#{${situation.getLabel()}}"
                                                                th:value="${iter.index}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Salaire net mensuel </label>
                                                <input class="small add-prospect" id="salary"
                                                       max="1000000000"
                                                       min="0" placeholder="Ex : 1000&euro;" th:field="*{salary}"
                                                       type="number"
                                                       value="0"/>
                                                <span class="color--error" th:errors="*{salary}"
                                                      th:if="${#fields.hasErrors('salary')}"></span>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Garant</label>
                                                <div class="input-select">
                                                    <select class="small" id="prospectGuarantor"
                                                            th:field="*{guarantor}">
                                                        <option value="yes">Yes</option>
                                                        <option value="no">No</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="data-join-tenant">

                                        </div>
                                        <input id="addProspectFormButton" style="display: none;" type="submit"/>
                                    </form>
                                    <br/>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <a class="btn btn-orange dialog-button border-0" href="#"
                                               id="add-cotenant-prospect">
                                                <span class="btn__text">AJOUTER UN COLOCATAIRE</span>
                                            </a>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <a class="btn btn--primary dialog-button" href="#" id="addProspectButton">
                                                <span class="btn__text">ENVOYER</span>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="modal-container" id="editProspectNote">
        <div class="modal-content section-modal">
            <section class="unpad ">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-12">
                            <div class="feature feature-1">
                                <div class="feature__body boxed boxed--lg boxed--border text-center">
                                    <div class="modal-close modal-close-cross"></div>
                                    <form id="edit-note-form" th:action="@{/prospect/customMessage/}"
                                          th:method="post"
                                          th:object="${prospectDTO}">
                                        <div class="row">
                                            <div class="col-md-12 table-box">
                                                        <textarea autofocus="autofocus" id="customMessage"
                                                                  name="customMessage"
                                                                  placeholder="Note"
                                                                  required="required"
                                                                  rows="3"></textarea>
                                            </div>
                                            <input id="editProspectNoteFormButton" style="display: none;"
                                                   type="submit"/>
                                        </div>
                                    </form>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-8">
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn btn--primary dialog-button" id="editProspectNoteButton"
                                                    type="button">
                                                VALIDER
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
        </div>
    </div>
</div>

</body>
</html>