<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="bo/layout-bo">
<head>
    <title>DossierFacile</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div th:replace="bo/menu :: menu">...</div>
    <br/><br/><br/>
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="medium-space-separator">
                    <form class="form" method="post" th:action="@{/bo/agent}"
                          th:object="${agent}">
                        <div class="form-group col-md-6">
                            <input type="email" id="email" required="required" autocomplete="true"
                                   th:field="*{email}"
                                   class="form-control form-control-formatted form-control-untouched"
                                   placeholder="Email"/>
                            <span id="email-error" class="d-none color--error"></span>
                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                  class="help-block color--error"></span>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" data-loading-text="Création en cours..."
                                    class="btn btn-primary btn-responsive animated subtitle1">Créer Agent
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>email</th>
                    <th>edit</th>
                    <th>delete</th>
                    <th>status</th>
                    <th>health</th>
                    <th>ask for login</th>
                    <th>check mails</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="agent : ${agentList}">
                    <td th:text="${agent.getEmail()}"></td>
                    <td><a class="fa fa-pencil nounderline" th:href="@{/bo/agent/} + ${agent.getId()}"></a></td>
                    <td><a class="fa fa-trash nounderline" data-target="#deleteAgent" data-toggle="modal" href="#"
                           onclick="$('#delete').attr('action',$(this).attr('data-href'))"
                           th:attr="data-href=@{/bo/agent/delete/} + ${agent.getId()}"></a></td>
                    <td>
                        <span class="text-success"
                              th:if="${agent.isGoogleAuth()} and ${agent.isHealthAuthGoogle()}">OK</span>
                        <span class="text-danger" th:if="${agent.isGoogleAuth()} and not ${agent.isHealthAuthGoogle()}">KO</span>
                    </td>

                    <td>
                        <form th:action="@{/bo/agent/check_health/} + ${agent.id}" th:if="${agent.isGoogleAuth()}"
                              th:method="post">
                            <button class="btn btn-primary bo-btn" type="submit">check health</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/bo/agent/ask_login/} + ${agent.id}" th:if="${agent.isGoogleAuth()}"
                              th:method="post">
                            <button class="btn btn-primary bo-btn" type="submit">ask for login</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/bo/agent/check_mails/} + ${agent.id}"
                              th:if="${agent.isGoogleAuth() and agent.isHealthAuthGoogle()}"
                              th:method="post">
                            <button class="btn btn-warning bo-btn" type="submit">check mails</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <span id="subscription_success" style="display: none;position: relative;top: 10px;">Merci ! Nous vous contacterons très prochainement.</span>
    <!-- Modal -->

    <div class="modal fade" id="deleteAgent" tabindex="-1" role="dialog"
         aria-labelledby="deleteAgent">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-primary">
                <div class="modal-body text-center">
                    <p class="text-primary little-title space-separator border-bottom border-primary">Are you sure you
                        want to delete this Agent?</p>
                    <div class="medium-space-separator-top">
                        <form id="delete" th:method="post" th:action="@{/bo/agent/delete}">
                            <button class="btn btn-danger btn-responsive subtitle1" type="submit">Oui</button>
                            <a href="" data-toggle="modal" data-target="#deleteAgent"
                               class="btn btn-default btn-responsive subtitle1 closebtnaction">Non</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>

