<!DOCTYPE html>
<html lang="en"
      layout:decorator="bo/layout-bo"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DossierFacile</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div th:replace="bo/menu :: menu">...</div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="form" id="formLocataire" method="post" onsubmit="return validate_form()"
                  th:action="@{/bo/callback}"
                  th:object="${callbackForm}">
                <div class="form-group">
                    <input autocomplete="true" class="form-control form-control-formatted form-control-untouched "
                           id="lastName"
                           placeholder="email" th:field="*{email}"
                           type="email"/>
                    <span class="help-block color--error" th:errors="*{email}"
                          th:if="${#fields.hasErrors('email')}"></span>
                </div>
                <div class="form-group">
                    <select class="form-control" id="agentId" required="required"
                            th:field="*{source}">
                        <option th:each="s:${sources}"
                                th:text="${s.getName()}"
                                th:value="${s.getName()}">
                        </option>
                    </select>
                    <span class="help-block color--error" th:errors="*{source}"
                          th:if="${#fields.hasErrors('source')}"></span>
                </div>
                <div class="form-group">
                    <input autocomplete="off" class="form-control form-control-formatted form-control-untouched"
                           id="email" name="email" placeholder="internalPartnerId"
                           th:field="*{internalPartnerId}" type="text"/>
                    <span class="help-block color--error" th:errors="*{internalPartnerId}"
                          th:if="${#fields.hasErrors('internalPartnerId')}"></span>
                </div>
                <div class="text-center medium-space-separator">
                    <button class="btn btn-default btn-responsive subtitle1" data-loading-text="Next step in course"
                            id="create-tenant"
                            th:text="#{tenant.form.button.next}" type="submit">
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
