<!DOCTYPE html>
<html lang="en"
      layout:decorator="bo/layout-bo"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DossierFacile</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div th:replace="bo/menu :: menu">...</div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="form" id="formLocataire" method="post"
                  th:action="@{/bo/deleteFile}"
                  th:object="${fileForm}">
                <div class="form-group">
                    <input class="form-control form-control-formatted form-control-untouched"
                           placeholder="path"
                           th:field="*{path}" type="text"/>
                    <span class="help-block color--error" th:errors="*{path}"
                          th:if="${#fields.hasErrors('path')}"></span>
                </div>
                <div class="text-center medium-space-separator">
                    <button class="btn btn-default btn-responsive subtitle1"
                            th:text="#{tenant.form.button.next}" type="submit">
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
