<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="bo/layout-bo">
<head>
    <title>DossierFacile</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div th:replace="bo/menu :: menu">...</div>
    <div class="container">
        <div class="row">
            <div class="table-responsive col-md-12">
                <h3>Stats from DossierSuperFacile</h3>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th style="min-width: 250px">Week/File</th>
                        <th>Number of tenant</th>
                        <th>Landings (% vs number of tenant)</th>
                        <th>Choosing SuperFacile (% vs landing)</th>
                        <th>Giving the name of their company (% vs choosing SuperFacile)</th>
                        <th>Email sent (% vs giving name)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="superFacileDTO : ${superFacileDTOList}">
                        <td th:text="${superFacileDTO.date()}"></td>
                        <td th:text="${superFacileDTO.getTotal()}"></td>
                        <td th:text="${superFacileDTO.b()}"></td>
                        <td th:text="${superFacileDTO.c()}"></td>
                        <td th:text="${superFacileDTO.d()}"></td>
                        <td th:text="${superFacileDTO.e()}"></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="table-responsive col-md-12">
                <h3>Potential partner companies</h3>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Name of the company</th>
                        <th>Occurrence</th>
                        <th>Sent mails (% vs Occurrence)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="enterprise : ${enterpriseList}">
                        <td th:text="${enterprise.name}"></td>
                        <td th:text="${enterprise.cantNameSelected}"></td>
                        <td th:text="${enterprise.cantEmailSent} + '(' + ${enterprise.getPercentCantMailSentVSCantNameSelected()} + '%)'"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
</body>
</html>
