<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="bo/layout-bo">
<head>
    <title>DossierFacile</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">
    <!--    <div th:replace="bo/menu :: menu">...</div>-->
    <div class="" style="text-align: -webkit-center;font-size: 22px;padding-bottom: 13px;"><label style="color: red;" th:text="'Tenant With Failed Pdfs ' + '(' + ${tenantList.getNumberOfElements()} + ')'"></label></div>
    <div class="container">
        <div class="table-responsive">
            <table th:object="${tenantList}" id="userTable" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <td>Id</td>
                    <td>Creation date</td>
                    <td>First name</td>
                    <td>Last Name</td>
                    <td>Email</td>
                    <td>Status</td>
                </tr>
                </thead>
                <tr th:each="tenant : ${tenantList}">
                    <td>
                        <span th:text="${tenant.getId()}"></span>
                    </td>
                    <td th:utext="${tenant.getCreationDateTime()}"></td>
                    <td th:text="${tenant.getFirstName()}"></td>
                    <td th:text="${tenant.getLastName()}"></td>
                    <td th:text="${tenant.getEmail()}"></td>
                    <td th:text="${tenant.getStatus()}"></td>
                    </td>
                    <td th:unless="${tenant.getApartmentSharing()!=null}">
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="form-group col-md-1">
                <select class="form-control pagination pageSizeSelect" data-url="/bo">
                    <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"
                            th:selected="${pageSize} == ${selectedPageSize}"></option>
                </select>
            </div>
            <div th:if="${tenantList.totalPages > 1}" class="form-group col-md-11 pagination-centered">
                <ul class="pagination">
                    <li th:class="${tenants.number == 0} ? disabled">
                        <a class="pageLink" th:href="@{/bo(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
                    </li>
                    <li th:class="${tenants.number == 0} ? disabled">
                        <a class="pageLink"
                           th:href="@{/bo(pageSize=${selectedPageSize}, page=${tenants.number})}">&larr;</a>
                    </li>
                    <li th:class="${tenants.number == (page - 1)} ? 'active pointer-disabled'"
                        th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                        <a class="pageLink" th:href="@{/bo(pageSize=${selectedPageSize}, page=${page})}"
                           th:text="${page}"></a>
                    </li>
                    <li th:class="${tenants.number + 1 == tenants.totalPages} ? disabled">
                        <a class="pageLink"
                           th:href="@{/bo(pageSize=${selectedPageSize}, page=${tenants.number + 2})}">&rarr;</a>
                    </li>
                    <li th:class="${tenants.number + 1 == tenants.totalPages} ? disabled">
                        <a class=""
                           th:href="@{/bo(pageSize=${selectedPageSize}, page=${tenants.totalPages})}">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
</body>
</html>
