<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="bo/layout-bo">
<head>
    <title>DossierFacile</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div th:replace="bo/menu :: menu">...</div>
    <div class="container">
        <div class="row">
            <h3 class="col-md-12">
                Total number of Documents : <span th:text="${uploadedFiles}"></span>
            </h3>
            <h3 class="col-md-12">
                Total number of tenant : <span th:text="${deletedTenant+activeTenant}"> </span><span
                    th:text="' ( active: '+${activeTenant}+' - '+ 'deleted: '+${deletedTenant}+')'"></span>
            </h3>
            <h3 class="col-md-12">
                Total number of owner : <span th:text="${totalOwner}"></span>
            </h3>
        </div>
        <div class="row">
            <div class="table-responsive col-md-12">
                <h3>Tenants statistics</h3>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th style="min-width: 250px">Week/File</th>
                        <th>Total tenant</th>
                        <th>No files</th>
                        <th th:text="#{tenant.profile.link1.v2}"></th>
                        <th th:text="#{tenant.profile.link2.v2}"></th>
                        <th th:text="#{tenant.profile.link3.v2}"></th>
                        <th th:text="#{tenant.profile.link4.v2}"></th>
                        <th th:text="#{tenant.profile.link5.v2}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="date : ${sortedDatesTenant}">
                        <td th:text="${date.transform()}"></td>
                        <td th:text="${tenantStatistics.get(date).get('tenant')}?${tenantStatistics.get(date).get('tenant')}:0"></td>
                        <td th:text="${tenantStatistics.get(date).get('notUpload')}?${tenantStatistics.get(date).get('notUpload')}:0"></td>
                        <td th:text="${tenantStatistics.get(date).get('file1')}?${tenantStatistics.get(date).get('file1')}:0"></td>
                        <td th:text="${tenantStatistics.get(date).get('file2')}?${tenantStatistics.get(date).get('file2')}:0"></td>
                        <td th:text="${tenantStatistics.get(date).get('file3')}?${tenantStatistics.get(date).get('file3')}:0"></td>
                        <td th:text="${tenantStatistics.get(date).get('file4')}?${tenantStatistics.get(date).get('file4')}:0"></td>
                        <td th:text="${tenantStatistics.get(date).get('file5')}?${tenantStatistics.get(date).get('file5')}:0"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="table-responsive col-md-12">
                <h3>Guarantor statistics</h3>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th style="min-width: 250px">Week/File</th>
                        <th>Not files</th>
                        <th th:text="#{tenant.profile.link1.v2}"></th>
                        <th th:text="#{tenant.profile.link2.v2}"></th>
                        <th th:text="#{tenant.profile.link3.v2}"></th>
                        <th th:text="#{tenant.profile.link4.v2}"></th>
                        <th th:text="#{tenant.profile.link5.v2}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="date : ${sortedDatesGuarantor}">
                        <td th:text="${date.transform()}"></td>
                        <td th:text="${guarantorStatistics.get(date).get('notUpload')}?${guarantorStatistics.get(date).get('notUpload')}:0"></td>
                        <td th:text="${guarantorStatistics.get(date).get('file1')}?${guarantorStatistics.get(date).get('file1')}:0"></td>
                        <td th:text="${guarantorStatistics.get(date).get('file2')}?${guarantorStatistics.get(date).get('file2')}:0"></td>
                        <td th:text="${guarantorStatistics.get(date).get('file3')}?${guarantorStatistics.get(date).get('file3')}:0"></td>
                        <td th:text="${guarantorStatistics.get(date).get('file4')}?${guarantorStatistics.get(date).get('file4')}:0"></td>
                        <td th:text="${guarantorStatistics.get(date).get('file5')}?${guarantorStatistics.get(date).get('file5')}:0"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="table-responsive col-md-12">
                <h3>Actions statistics</h3>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th style="min-width: 250px">Week/Action</th>
                        <th>INCOMPLETE -> TO_PROCESS</th>
                        <th>TO_PROCESS -> DECLINE</th>
                        <th>TO_PROCESS -> VALIDATED</th>
                        <th>DECLINE -> TO_PROCESS</th>
                        <th>RATIO</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="date : ${sortedDatesActionTenantStatus}">
                        <td th:text="${date.transform()}"></td>
                        <td th:text="${actionTenantStatusStatistics.get(date).get(0)}?${actionTenantStatusStatistics.get(date).get(0)}:0"></td>
                        <td th:text="${actionTenantStatusStatistics.get(date).get(1)}?${actionTenantStatusStatistics.get(date).get(1)}:0"></td>
                        <td th:text="${actionTenantStatusStatistics.get(date).get(2)}?${actionTenantStatusStatistics.get(date).get(2)}:0"></td>
                        <td th:text="${actionTenantStatusStatistics.get(date).get(3)}?${actionTenantStatusStatistics.get(date).get(3)}:0"></td>
                        <td th:if="${actionTenantStatusStatistics.get(date).get(2)}!=null and ${actionTenantStatusStatistics.get(date).get(0)}!=null"
                            th:with="result=${actionTenantStatusStatistics.get(date).get(2)} / ${actionTenantStatusStatistics.get(date).get(0)}">
                            <span th:text="${#numbers.formatDecimal(result,1,2)}"></span>
                        </td>
                        <td th:if="${actionTenantStatusStatistics.get(date).get(2)}==null or ${actionTenantStatusStatistics.get(date).get(0)}==null">
                            0
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="table-responsive col-md-12">
                <h3>Honor declaration not validated</h3>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th style="min-width: 250px">Week</th>
                        <th>CGUNotChecked</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="date : ${sortedDatesCGUNotChecked}">
                        <td th:text="${date}"></td>
                        <td th:text="${CGUNotChecked.get(date)}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive col-md-12">
                <h3>Links counters</h3>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th style="min-width: 250px">Week</th>
                        <th>LIGHT_APPLICATION</th>
                        <th>FULL_APPLICATION</th>
                        <th>TOTAL</th>
                        <th>DOCUMENT</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="date : ${sortedDatesLinkCounterStatistics}">
                        <td th:text="${date.transform()}"></td>
                        <td th:text="${linkCounterStatistics.get(date).get('LIGHT_APPLICATION')}?${linkCounterStatistics.get(date).get('LIGHT_APPLICATION')}:0"></td>
                        <td th:text="${linkCounterStatistics.get(date).get('FULL_APPLICATION')}?${linkCounterStatistics.get(date).get('FULL_APPLICATION')}:0"></td>
                        <td th:with="number1=${linkCounterStatistics.get(date).get('LIGHT_APPLICATION')!=null? linkCounterStatistics.get(date).get('LIGHT_APPLICATION'):0}, number2=${linkCounterStatistics.get(date).get('FULL_APPLICATION')!=null? linkCounterStatistics.get(date).get('FULL_APPLICATION'):0}">
                            <span th:text="${number1+number2}"></span>
                        </td>
                        <td th:text="${linkCounterStatistics.get(date).get('DOCUMENT')}?${linkCounterStatistics.get(date).get('DOCUMENT')}:0"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="table-responsive col-md-12">
                <h3>AVG Time Serve Tenant by Operators</h3>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th style="min-width: 250px">Week</th>
                        <th>AVG (sec)</th>
                        <th>AVG below 3 min (sec)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="date : ${sortedDatestimeServeTenantStatistics}">
                        <td th:text="${date.transform()}"></td>
                        <td th:text="${#numbers.formatDecimal(timeServeTenantStatistics.get(date).get('avg1'),1,2)}"></td>
                        <td th:text="${#numbers.formatDecimal(timeServeTenantStatistics.get(date).get('avg2'),1,2)}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="table-responsive col-md-12">
                <h3>Tenant Satisfaction Rate</h3>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th style="min-width: 250px">Week</th>
                        <th>Tenants contacted</th>
                        <th>replies</th>
                        <th>Reply rate</th>
                        <th>YES</th>
                        <th>RATIO ( yes / replies )</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="date : ${sortedDatestimeTenantSatisfactionStatistics}">
                        <td th:text="${date.transform()}"></td>
                        <td th:text="${tenantSatisfactionStatistics.get(date).contacted}"></td>
                        <td th:text="${tenantSatisfactionStatistics.get(date).replies}"></td>
                        <td style="padding: 0px;"
                                   class="statistics-pct"
                                   th:with="pct=${100*tenantSatisfactionStatistics.get(date).replyRate}"
                                th:attrappend="style='--data-pct:'+${pct}+';--data-color:'+(${pct &lt; 50 }? '#FFCCCC' : '#CCFFCC')"
                        >
                            <span th:text="${#numbers.formatDecimal(100*tenantSatisfactionStatistics.get(date).replyRate,1,0)}+'%'"
                                th:attrappend="stylez='float:left;overflow:visible;vertical-align:middle;height: 100%;width:'+${100*tenantSatisfactionStatistics.get(date).replyRate}+'%;background-color: #88FF88;padding:5px;margin:0px;'"> 
                            </span>
                        </td>
                        <td th:text="${tenantSatisfactionStatistics.get(date).nbYes}"></td>
                        <td th:text="${#numbers.formatDecimal(100*tenantSatisfactionStatistics.get(date).nbYesRepliesRatio,1,0)}+'%'">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="table-responsive col-md-12">
                <h3>Properties</h3>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th style="min-width: 250px">Week</th>
                        <th>Created</th>
                        <th>Deleted</th>
                        <th>Visited</th>
                        <th>Subscribed</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="date : ${sortedDatestimePropertyStatistics}">
                        <th:block th:if="${propertyStatistics.get(date)!=null}">
                        <td th:text="${date.transform()}"></td>
                        <td th:text="${propertyStatistics.get(date).created}"></td>
                        <td th:text="${propertyStatistics.get(date).deleted}"></td>
                        <td th:text="${propertyStatistics.get(date).visited}"></td>
                        <td th:text="${propertyStatistics.get(date).subscribed}"></td>
                        </th:block>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
</body>
</html>
