<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>DossierFacile</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="google-site-verification" content="4OOE91l6UNYCAnvnxQfNEnybmxX1QGAh05KkgvChMxw"/>
    <link rel="stylesheet" th:href="@{/css/Layout.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.css">
</head>
<body>

<div class="topnav" style="margin-bottom: 43px;margin-top: 4px;padding: 6px">
    <a class="active" style="background:#003189; border-radius: 5px; color: #f5f5fe" th:href="@{/}">Object Checker</a>
    <div style="margin-top: 14px;float: right;">
        <form th:action="@{/logout}" method="post">
            <input style="background: transparent;color: #000091; font-size: medium;border-radius: 5px;padding-top: 3px;padding-bottom: 3px;"
                   type="submit" value="SignOut"/>
        </form>
    </div>
</div>

<div>
    <style>
        .button2:hover {
            background-color: #008CBA;
            color: white;
        }
        .btn-stop {
            background-color: #ff0000;
            color: #f5f5fe !important;
        }
        .hidden {
            display: none;
        }
        .disabled {
            pointer-events: none;
            cursor: default;
            opacity: .6;
        }
    </style>
    <div class="col-md-12" style="margin-top: -20px;">
        <div class="row">
            <div class=""
                 style="grid-auto-columns: max-content;margin-left: 20px;float: right;">
                <a id="btn-restart" th:class="'btn btn-primary'"
                   style="float: left;margin-right: 54px;text-decoration: none;margin-bottom: 10px;
                   border-color: #d43f3a;font-size: 19px;padding: 11px;border-radius: 11px;"
                   th:title="'restart scanner'"
                   th:href="@{/restart-scanner}"
                   th:text="'Restart scanner'"
                   onclick="restartScanner()"></a>
                <a th:class="${is_scanner_running} ? 'btn btn-stop' : 'btn btn-primary'"
                   style="float: left;margin-right: 54px;text-decoration: none;margin-bottom: 10px;
                   border-color: #d43f3a;font-size: 19px;padding: 11px;border-radius: 11px;"
                   th:title="${is_scanner_running} ? 'stop scanner' : 'start scanner'"
                   th:disabled="${is_scanner_running}" th:href="@{/start-stop-scanner}"
                   th:text="${is_scanner_running} ? 'Stop scanner' : 'Start scanner'"></a>
                <a th:class="${is_delete_running} ? 'btn btn-stop' : 'btn btn-primary'"
                   style="float: left;margin-right: 54px;text-decoration: none;margin-bottom: 10px;
                   border-color: #d43f3a;font-size: 19px;padding: 11px;border-radius: 11px;"
                   th:title="${is_delete_running} ? 'Pause delete all documents that are not referenced in our DB' : 'Resume delete all documents that are not referenced in our DB'"
                   th:href="@{/delete/toggle}" th:text="${is_delete_running} ? 'Pause deletion' : 'Resume deletion'">
                </a>

            </div>
        </div>
    </div>
    <div class="" style="
            grid-auto-columns: max-content;
            justify-content: right;
            margin-left: 24px;
            ">
        <div class="counter"
             style="background:#003189;display: inline-grid;font-family: 'Poppins', sans-serif;position: relative;z-index: 1;padding: 5px;">
            <a id="number-to-delete" class="" style="
            cursor: pointer;
            border-radius: inherit;
            margin-top: 5px;
            font-size: 19px;
            padding: 11px;
            background: white;">Total objects to delete:
                <span th:text="${total_objects_to_delete}" class="counter-value"
                      style="font-weight: bold; font-size: inherit;"></span></a>
            <a id="number-total-scanned" class="" style="
            cursor: pointer;
            border-radius: inherit;
            margin-top: 5px;
            font-size: 19px;
            padding: 11px;
            background: white;">Total objects scanned:
                <span th:text="${total_objects_scanned}" class="counter-value"
                      style="font-weight: bold; font-size: inherit;"></span></a>
        </div>
    </div>

    <div class="container" style="text-align: -webkit-center;margin-top: 26px;">
        <div class="clearfix"></div>
        <div class="table-responsive" style="width: 60%; margin-left: 20%;">
            <table id="table_objects">
                <thead>
                <tr>
                    <th style="width: 20%">Id</th>
                    <th>Path</th>
                    <th style="width: 10%"></th>
                    <th style="width: 10%"></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="line-separator"></div>
        <div class="row big-space-separator-bottom">
            <div class="col-md-12">
                <div class="sutil-separator-xs footer_content">
                    <span>Vous pouvez nous contacter à contact@dossierfacile.fr</span>
                    <br/>
                    <br/>
                    <a class="text-primary1" target="_blank">Object Checker for Dossier Facile 2021</a>
                </div>
            </div>
            <div class="col-md-offset-4 col-md-4 footer_logo text-center">
            </div>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/jquery.spring-friendly.js}"></script>
<script>
    $(document).ready(function() {
        var timer;
        var timerActive = true;
        var isScannerRunning = [[${is_scanner_running} ? true : false]];
        var isDeleteRunning = [[${is_delete_running} ? true : false]];

        function startTimer() {
            timer = setInterval(function () {
                if((isScannerRunning && timerActive)
                    || (isDeleteRunning && timerActive)) {
                    $.ajax({
                        type: 'GET',
                        url: '/update-scanner-info',
                        dataType: 'json',
                        success: function (data) {
                            console.log(data);
                            $('#number-to-delete span').html($(data).get(0));
                            $('#number-total-scanned span').html($(data).get(1));
                            isScannerRunning = $(data).get(2);
                            if ((isScannerRunning && $(data).get(2) == "false")
                                || (isDeleteRunning && $(data).get(3) == "false")){
                                window.location.href="/";
                            }
                        },
                        error: function () {
                            console.log("Some error");
                            clearInterval(timer);
                            timerActive = false;
                            window.location.href="/";
                        }
                    });
                }
            }, 2000);
        }

        startTimer();

        $('#table_objects').DataTable({
            ajax: '/objects',
            serverSide: true,
            columns: [
                {
                    data: 'id',
                    name: 'Id',
                    searchable: true,
                    orderable: true,
                },
                {
                    data : 'path',
                    name: 'Path',
                    searchable: true,
                    orderable: true,
                },
                {
                    name: '',
                    render: (_, __, row) => '<a onclick="openWindow(\'/documents/' + row.path + '\')"><i class="fa fa-eye" style="font-size:24px"></i></a>',
                    searchable: false,
                    orderable: false
                },
                {
                    name: '',
                    // render: (_, __, row) => '<a class="btn btn-primary button2" style="font-size: 13px; padding: 5px 10px; text-decoration: none;" href="/delete/' + row.path + '">DELETE</a>',
                    render: function(data, type, row, meta) {
                        return '<a class="btn btn-primary button2" style="font-size: 13px; padding: 5px 10px; text-decoration: none;" href="/delete/' + row.path + '">DELETE</a>'
                    },
                    searchable: false,
                    orderable: false
                }
            ]
        });
    });

    function restartScanner() {
        $('body').addClass('disabled');
    }

    function openWindow(url) {
        ReportPrintPreview = window.open("about:blank", "ReportPrintPreview", "width=666,height=700left=250,top=50,dependent=yes,menubar=no,status=no,resizable=yes,toolbar=no,scrollbars=yes");
        ReportPrintPreview.location.href = url;
        ReportPrintPreview.focus();
        return false;
    }
</script>
</body>
</html>
